<div class="form-product">
  <div class="custom-card-style col-12 mt-2 flex-wrap d-flex">
    <div class="col-12 p-0">
      <div class="name">
        <div class="form-group">
          <label>{{ "GENERAL.PRICES" | translate }}</label>
          <input spellcheck="false" currencyMask required (focus)="onFocus($event)" class="form-control form-control-lg" #valueInput
                 [(ngModel)]="priceTmp"
                 [ngModelOptions]="{ standalone: true }" [options]="ngxCurrencyOptions"/>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center pt-3 d-flex justify-content-between mb-2">
    <button (click)="close()" [disabled]="!priceTmp" type="button" class="btn btn-primary hvr-grow  btn-radius">
      {{'GENERAL.SAVE' | translate}}
    </button>
  </div>
</div>

