

.form-group label {
  font-size: var(--font-size-2);;
}

.form-group {
  margin-bottom: 0;
}

.form-product .label {
  font-size: var(--font-size-2);;
}

.form-product .name {
  font-size: 1rem;
}

.card-list {
  font-size: var(--font-size-2);;
}
