<app-header [history]="history"></app-header>
<app-navbar></app-navbar>
<app-side-bar></app-side-bar>
<div class="container-row d-flex">
  <div class="col-12 row m-0 pl-1 pr-1">
    <form
      (submit)="onSubmit()"
      class="form-product w-100 flex-wrap d-flex"
      [formGroup]="form"
    >
      <div class="col-12 p-0 flex-wrap d-flex">
        <div class="text-right w-100">
          <app-section-btn
            (cbList)="cbList()"
            [options]="['list', 'save', id?.length ? 'trash' : '']"
            (cbTrash)="cbTrash()"
            [valid]="form.valid"
          ></app-section-btn>
        </div>

        <div class="custom-card-style col-12 flex-wrap d-flex">
          <div class="col-12 p-0">
            <div class="name">
              <div class="form-group">
                <label>{{ "CALENDAR.NAME" | translate }}</label>
                <input
                  type="text"
                  formControlName="title"
                  class="form-control"
                  placeholder=""
                />
              </div>
            </div>
          </div>
        </div>
        <div class="custom-card-style col-12 mt-2 flex-wrap d-flex">
          <div class="col-12 p-0">
            <div class="name">
              <div class="form-group">
                <label>{{ "CALENDAR.USER" | translate }}</label>
                <ng-select
                  #selectProductRef
                  [items]="results$ | async"
                  formControlName="user"
                  bindLabel="name"
                  (close)="selectProductRef.blur(); selectProductRef.focus()"
                  [addTag]="true"
                  [multiple]="false"
                  [hideSelected]="true"
                  [trackByFn]="trackByFn"
                  [minTermLength]="3"
                  [required]="true"
                  (change)="selectUser($event)"
                  [loading]="userLoading"
                  [typeToSearchText]="'PURCHASE.SEARCH_PRODUCT' | translate"
                  [typeahead]="userInput$"
                >
                  <ng-template ng-label-tmp let-item="item">
                    {{ item?.name }} {{ item?.lastName }}
                    <small
                      ><i>{{ item?.nameBusiness }}</i></small
                    >
                  </ng-template>
                  <ng-template
                    ng-option-tmp
                    let-item="item"
                    let-index="index"
                    let-search="searchTerm"
                  >
                    <div class="card-list d-flex">
                      <div class="p-1">
                        <ngx-avatar
                          cornerRadius="5"
                          [round]="false"
                          size="30"
                          [name]="item?.name"
                        ></ngx-avatar>
                      </div>
                      <div class="p-1">
                        <div>{{ item?.name }} {{ item?.lastName }}</div>
                        <small
                          ><i>{{ item?.nameBusiness }}</i></small
                        >
                        <div class="font-weight-normal text-muted">
                          <span *ngFor="let tag of item?.tag">
                            <span class="badge badge-tag">{{ tag?.name }}</span>
                          </span>
                        </div>
                      </div>
                    </div>
                  </ng-template>
                </ng-select>
              </div>
            </div>
          </div>
        </div>
        <div class="custom-card-style col-12 mt-2 flex-wrap d-flex">
          <div class="col-12 p-0">
            <div class="name">
              <div class="form-group">
                <label>{{ "CALENDAR.DATE" | translate }}</label>
                <ngx-funny-datepicker
                  [(startDate)]="data.start"
                  [(endDate)]="data.end"
                  [isRange]="true"
                  [showInitialValue]="!!data?.start"
                  [clearLabel]="'CALENDAR.DATE_PICKER.CLEAR' | translate"
                  [rangeLabel]="'CALENDAR.DATE_PICKER.RANGE' | translate"
                  [timeLabel]="'CALENDAR.DATE_PICKER.TIME' | translate"
                  [classInput]="'form-control p-0 w-100'"
                  [formatInputDate]="'D MMM, YYYY HH:mm'"
                  (emitSelected)="listDate($event)"
                >
                </ngx-funny-datepicker>
              </div>
            </div>
          </div>
        </div>
        <div class="custom-card-style col-12 mt-2 flex-wrap d-flex">
          <div class="col-12 p-0">
            <div class="name">
              <div class="form-group">
                <label>{{ "DEPOSITS.DESCRIPTION" | translate }}</label>
                <input
                  type="text"
                  formControlName="observation"
                  class="form-control"
                  aria-describedby="emailHelp"
                  placeholder=""
                />
              </div>
            </div>
          </div>
        </div>
        <div class="custom-card-style col-12 mt-2 flex-wrap d-flex">
          <div class="form-group w-100">
            <label>{{ "DEPOSITS.TAG" | translate }}</label>
            <tag-input
              class="chip-price"
              [addOnBlur]="true"
              formControlName="tag"
              [modelAsStrings]="true"
            ></tag-input>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
