:host {
  padding-right: .75rem;
  display: block;
  width: 100%;
  padding-left: .25rem;
}

.wrapper-calendar {
  background-color: white;
  padding: 1rem 1rem;
  border-radius: var(--border-radius-35);
  font-weight: 600;
  font-size: var(--font-size-1);
  min-height: 44.6rem;
  letter-spacing: .6px;
  box-shadow: var(--box-shadow)
}
