<div class="col-12 mb-2">
  <b class="text-muted">{{title}}</b>
</div>
<div class="wrapper-calendar">
  <div class="d-flex w-100">
    <div mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="closeOpenMonthViewDay($event)"
         class="pl-2 pr-2 cursor-pointer">
      <fa-icon size="lg" [icon]="faAngleLeft"></fa-icon>
    </div>
    <div><h5>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h5></div>
    <div class="pl-2 pr-2 cursor-pointer" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"
         (viewDateChange)="closeOpenMonthViewDay($event)">
      <fa-icon size="lg" [icon]="faAngleRight"></fa-icon>
    </div>
  </div>
  <div class="w-100 pr-2" [ngSwitch]="view">
    <mwl-calendar-month-view
      *ngSwitchCase="CalendarView.Month"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      [activeDayIsOpen]="activeDayIsOpen"
      (dayClicked)="dayClicked($event.day)"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-month-view>
  </div>

  <!-- Everything you see below is just for the demo, you don't need to include it in your app -->

  <!--  <br/><br/><br/>-->

  <!--  <h3>-->
  <!--    Edit events-->
  <!--    <button class="btn btn-primary hvr-grow  float-right" (click)="addEvent()">-->
  <!--      Add new-->
  <!--    </button>-->
  <!--    <div class="clearfix"></div>-->
  <!--  </h3>-->

  <!--  <div class="table-responsive">-->
  <!--    <table class="table table-bordered">-->
  <!--      <thead>-->
  <!--      <tr>-->
  <!--        <th>Title</th>-->
  <!--        <th>Primary color</th>-->
  <!--        <th>Secondary color</th>-->
  <!--        <th>Starts at</th>-->
  <!--        <th>Ends at</th>-->
  <!--        <th>Remove</th>-->
  <!--      </tr>-->
  <!--      </thead>-->

  <!--      <tbody>-->
  <!--      <tr *ngFor="let event of events">-->
  <!--        <td>-->
  <!--          <input-->
  <!--            type="text"-->
  <!--            class="form-control"-->
  <!--            [(ngModel)]="event.title"-->
  <!--            (keyup)="refresh.next()"-->
  <!--          />-->
  <!--        </td>-->
  <!--        <td>-->
  <!--          <input-->
  <!--            type="color"-->
  <!--            [(ngModel)]="event.color.primary"-->
  <!--            (change)="refresh.next()"-->
  <!--          />-->
  <!--        </td>-->
  <!--        <td>-->
  <!--          <input-->
  <!--            type="color"-->
  <!--            [(ngModel)]="event.color.secondary"-->
  <!--            (change)="refresh.next()"-->
  <!--          />-->
  <!--        </td>-->
  <!--        <td>-->
  <!--          <input-->
  <!--            class="form-control"-->
  <!--            type="text"-->
  <!--            mwlFlatpickr-->
  <!--            [(ngModel)]="event.start"-->
  <!--            (ngModelChange)="refresh.next()"-->

  <!--            dateFormat="Y-m-dTH:i"-->
  <!--            altFormat="F j, Y H:i"-->
  <!--            placeholder="Not set"-->
  <!--          />-->
  <!--        </td>-->
  <!--        <td>-->
  <!--          <input-->
  <!--            class="form-control"-->
  <!--            type="text"-->
  <!--            mwlFlatpickr-->

  <!--            dateFormat="Y-m-dTH:i"-->
  <!--            altFormat="F j, Y H:i"-->
  <!--            placeholder="Not set"-->
  <!--          />-->
  <!--        </td>-->
  <!--        <td>-->
  <!--          <button class="btn btn-danger" (click)="deleteEvent(event)">-->
  <!--            Delete-->
  <!--          </button>-->
  <!--        </td>-->
  <!--      </tr>-->
  <!--      </tbody>-->
  <!--    </table>-->
  <!--  </div>-->

</div>
