<div class="row m-0 col-12 p-0">
  <div class="col-sm-12 col-md-12 col-lg-4">
    <div class="login-section">
      <div class="title-section">
        <h1 class="title">{{"LOGIN.WELCOME" | translate}}</h1>
        <span class="text-muted">{{"LOGIN.SUB_TITLE" |translate}}</span>
      </div>
      <form [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off">
        <div class="form-group">
          <label for="exampleInputEmail1">{{"LOGIN.FORM.EMAIL" |translate}}</label>
          <input type="text" class="form-control"
                 formControlName="email"
                 id="exampleInputEmail1" aria-describedby="emailHelp"
                 placeholder="Enter email">
          <small class="form-text text-muted">{{"LOGIN.FORM.EMAIL_PLACEHOLDER" |translate}}</small>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">{{"LOGIN.FORM.PASSWORD" |translate}}</label>
          <input type="password"
                 formControlName="password"
                 class="form-control" id="exampleInputPassword1" placeholder="Password">
          <small class="form-text text-muted">{{"LOGIN.FORM.PASSWORD_PLACEHOLDER" |translate}}</small>

        </div>
        <button [disabled]="!form.valid" appLoadingBtn [loadingTextValue]="'GENERAL.LOADING_SINGLE' | translate"
                [loadingTextWhen]="loading" type="submit"
                class="btn btn-primary btn-radius btn-block"
                (click)="onSubmit()">{{"LOGIN.FORM.SEND" |translate}}
        </button>
        <!--        <button type="submit" class="btn btn-primary btn-radius btn-block">{{"LOGIN.FORM.SEND" |translate}}</button>-->
      </form>
    </div>
  </div>
  <div class="col-8 img-section d-none d-sm-none d-md-none d-lg-block">
    <div class="text-center d-block m-auto">
      <ng-lottie width="50%" [options]="options" (animationCreated)="animationCreated($event)"></ng-lottie>
    </div>
  </div>
</div>
