<div class="row m-0 col-12 p-0">
  <div class="col-4">
    <div class="login-section">
      <div class="title-section">
        <h1 class="title">Bienvenido</h1>
        <span class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
      </div>
      <form>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="emaild" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                 placeholder="Enter email">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="passwordd" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>

        <button type="submit" class="btn btn-primary btn-radius btn-block">Submit</button>
      </form>
    </div>
  </div>
  <div class="col-8 img-section">
    <div class="text-center d-block m-auto">
      <ng-lottie width="50%" [options]="options" (animationCreated)="animationCreated($event)"></ng-lottie>
    </div>
  </div>
</div>
