<div class="d-flex flex-column h-100 justify-content-between">
  <div>
    <div [routerLink]="['/']">
      <div class="logo">
        <fa-icon *ngIf="!logo" [icon]="faCrown" [style.color]="'orange'" size="lg"></fa-icon>
        <span><img class="w-100" [src]="logo" *ngIf="logo" [alt]="name"></span>
      </div>
    </div>

    <div class="menu-list text-center">
      <ul class="pt-4">
        <ng-container *ngFor="let a of menu">
          <li *ngIf="!a?.disable" class="pl-1 pr-1 pt-2 pb-1"
              placement="top"
              [tooltip]="tolTemplate" containerClass="customToolTip"
              [routerLink]="a.route"
              [delay]="115">
            <ng-template #tolTemplate>{{a?.name}}</ng-template>
            <div class="p-2  icon-wrapper">
              <div class="p-1 sub-wrapper" [routerLinkActive]="['active']">
                <fa-icon class="icon" [icon]="a.icon"></fa-icon>
              </div>
            </div>
          </li>
        </ng-container>
      </ul>
    </div>
  </div>
  <div class="footer mb-3">
    <div (click)="open()" class="text-center p-2 wrapper-avatar">
      <img class="avatar"
           [src]="'../../../assets/avatars/' | randomAvatar"
           alt="">
    </div>
    <div class="text-center pt-2">
      <button type="button" (click)="logOut()" class="btn btn-icon">
        <fa-icon class="" [icon]="faAngleRight"></fa-icon>
      </button>
    </div>
  </div>

</div>
