.wrapper {
  display: flex;
  background-color: var(--bg-danger);
  color: white;
  padding: .25rem .25rem .25rem 5rem;
  width: 100%;
  min-height: 3.5rem;
  position: absolute;
  top: 0;
  z-index: 9;
}
div{
  opacity: .95;
}
