<app-header></app-header>
<app-side-bar></app-side-bar>
<div class="container-row d-flex justify-content-center flex-column align-items-center center-404">
  <ng-lottie
    class="margin-auto"
    width="150px"
    [options]="options">
  </ng-lottie>
  <div class="p-2">
    <small class="font-weight-bold">{{'GENERAL.ERROR_404' | translate}}</small>
    <div class="text-center p-4" [routerLink]="['/']">
      <button class="btn btn-primary hvr-grow  btn-radius">
        {{'GENERAL.GO_HOME' | translate}}
      </button>
    </div>
  </div>
</div>
