<app-header [history]="history"></app-header>
<app-navbar></app-navbar>
<app-side-bar></app-side-bar>
<div class="container-row d-flex">
  <app-inventory-form class="col-12 row m-0 pl-1 pr-1"></app-inventory-form>
</div>
