<div class="row ml-0 mr-0 col-12 p-0">
  <div class="col-4 p-3 bg-white">
    <form [formGroup]="form" (submit)="onSubmit()">
      <div *ngIf="data" class="text-success font-weight-bold mb-2">
        🔑 Claves asignadas correctamente, si deseas actualizar tus claves puedes hacerlo. Por seguridad tus claves no
        son reveladas
      </div>
      <div class="form-group">
        <label>Clave publicable</label>
        <input type="text" class="form-control"
               formControlName="pk"
               placeholder="">
        <small class="form-text text-muted">Ingresa tu clave pública <b>(pk_key), </b> <a
          href="https://stripe.com/docs/keys#obtain-api-keys" target="_blank">¿Como obtener mi clave?</a></small>
      </div>
      <div class="form-group mt-4">
        <label>Clave secreta</label>
        <input type="password" class="form-control"
               formControlName="sk"
               placeholder="">
        <small class="form-text text-muted">Ingresa tu clave secreta <b>(sk_key), </b> <a
          href="https://stripe.com/docs/keys#obtain-api-keys" target="_blank">¿Como obtener mi clave?</a></small>
      </div>

      <div class="mt-4" *ngIf="!data?.validCurrency">
        Las divisas soportadas son las siguientes: <b>USD, EUR, MXN</b> <br>
        Puedes cambiar la configuración de tu sistema haciendo click en <b>tu perfil</b>
      </div>
      <hr>
      <button [disabled]="!form.valid" type="submit" class="btn btn-primary hvr-grow  btn-radius mr-2">Guardar</button>
      <button type="button" class="btn btn-primary hvr-grow  btn-radius" (click)="onRegisterHook()">Registrar Hook</button>
    </form>
  </div>
  <div class="col-8">
    <!--    Lorem ipsum dolor.-->

  </div>
</div>
