<ng-container *ngIf="mode === 'page'">
  <app-header [history]="history"></app-header>
  <app-navbar></app-navbar>
  <app-side-bar></app-side-bar>
</ng-container>
<div class="w-100" [ngClass]="{ 'container-row d-flex': mode === 'page' }">
  <ng-container
    *ngTemplateOutlet="loadingAll; context: { loading: loading }"
  ></ng-container>
  <div *ngIf="mode === 'home'" class="col-12 mb-2">
    <b class="text-muted">{{ title }}</b>
  </div>
  <app-list-items
    (cbAdd)="goTo()"
    [(data)]="data"
    [mode]="cbMode"
    [filtersMode]="viewMore"
    [customTemplate]="customTemplateSrc"
    (cbSrc)="onSrc($event)"
    (cbPdf)="cbPdf()"
    class="col-12 row m-0 pl-1 pr-1"
  >
  </app-list-items>
  <ng-container
    *ngTemplateOutlet="templateEmpty; context: { data: dataTake }"
  ></ng-container>
</div>

<!-- ************ PAGINATE BUTTON ************  -->
<div *ngIf="viewMore" class="w-100" [style.opacity]="loading ? '0' : '1'">
  <ng-template
    #firstTemplate
    let-disabled="disabled"
    let-currentPage="currentPage"
  >
    <fa-icon [icon]="faAngleDoubleLeft"></fa-icon>
  </ng-template>

  <ng-template
    #lastTemplate
    let-disabled="disabled"
    let-currentPage="currentPage"
  >
    <fa-icon [icon]="faAngleDoubleRight"></fa-icon>
  </ng-template>
  <ng-template
    #prevTemplate
    let-disabled="disabled"
    let-currentPage="currentPage"
  >
    <fa-icon [icon]="faAngleLeft"></fa-icon>
  </ng-template>
  <ng-template
    #nextTemplate
    let-disabled="disabled"
    let-currentPage="currentPage"
  >
    <fa-icon [icon]="faAngleRight"></fa-icon>
  </ng-template>
  <div
    class="pagination-row"
    *ngIf="pagination?.hasPrevPage || pagination?.hasNextPage"
  >
    <pagination
      (pageChanged)="pageChanged($event)"
      [itemsPerPage]="pagination?.limit"
      [customFirstTemplate]="firstTemplate"
      [customLastTemplate]="lastTemplate"
      [customPreviousTemplate]="prevTemplate"
      [customNextTemplate]="nextTemplate"
      [maxSize]="pagination?.limit"
      [totalItems]="pagination?.totalDocs"
    >
    </pagination>
  </div>
</div>

<!-- ************ PAGINATE BUTTON ************  -->

<!-- ***************** TEMPLATE ************** -->
<ng-template #customTemplateSrc let-dat="dat">
  <ul>
    <li
      *ngFor="let inside of dat | async"
      (click)="goToDetail(inside)"
      class="col-12 row ml-0 mr-0"
    >
      <div class="col-md-10 col-lg-10 col-sm-10 pl-0 pr-0 col-8">
        <div class="d-flex align-items-center align-content-center">
          <div class="d-flex">
            <div>
              <img
                class="img-50"
                onerror="this.style.display='none'"
                [src]="inside?.product?.gallery | firstImage: 'large'"
                alt=""
              />
              <ngx-avatar
                cornerRadius="5"
                [round]="false"
                [name]="inside?.name"
                *ngIf="!(inside?.product?.gallery | firstImage: 'large')"
              >
              </ngx-avatar>
            </div>
            <div
              class="pl-2 pr-2 d-flex justify-content-center align-items-center"
            >
              <fa-icon
                size="sm"
                class="arrow-icon-colors-up text-success"
                *ngIf="inside?.qty > 0"
                [icon]="faLongArrowAltUp"
                size="2x"
              >
              </fa-icon>
              <fa-icon
                size="sm"
                class="arrow-icon-colors-down text-danger"
                *ngIf="inside?.qty < 0"
                [icon]="faLongArrowAltDown"
                size="2x"
              >
              </fa-icon>
            </div>
          </div>
          <div class="w-100">
            <div class="name mr-2 ml-1 font-weight-bold">
              {{ inside?.product?.name }}
            </div>
            <div class="ml-1 mt-1 badge-zone" *ngIf="inside?.tag?.length">
              <span
                class="badge-tag badge mr-1"
                *ngFor="let tag of inside?.tag"
              >
                {{ tag?.name ? tag?.name : tag }}
              </span>
            </div>
            <div class="ml-1 mt-1">
              <div class="d-none d-md-block">
                <div class="d-flex pt-1">
                  <span class="text-muted">
                    <fa-icon size="sm" [icon]="faUser"></fa-icon>
                    {{ inside?.author?.name }}
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2 pl-0 col-lg-2 col-sm-2 col-4 text-right">
        <div class="small text-muted" timeago [date]="inside?.createdAt"></div>
        <h6
          class="m-0 text-hover font-weight-bold"
          [ngClass]="{
            'text-success': inside?.qty > 0,
            'text-danger': inside?.qty < 0
          }"
        >
          <span *ngIf="inside?.qty > 0">+</span>
          {{ inside?.qty }}
        </h6>
        <small class="text-muted">{{ "INVENTORY.QTY" | translate }}</small>
      </div>
    </li>
  </ul>
</ng-template>
<!-- ***************** FIN TEMPLATE ************** -->
<ng-template #templateEmpty let-data="data">
  <ng-container *ngIf="!loading"
    ><app-box-empty *ngIf="!data?.length"></app-box-empty
  ></ng-container>
</ng-template>
<ng-template #loadingAll let-loading="loading">
  <div *ngIf="loading === true" class="w-100 text-center h-100 loading-wrapper">
    <div class="in">
      <img
        [width]="'5rem'"
        src="../../../../../assets/images/loading-svg.svg"
        alt=""
      />
    </div>
  </div>
</ng-template>
