<div *ngIf="link">
  <iframe class="video-vimeo" [src]="link" width="640" height="460" frameborder="0"
          allow="autoplay; fullscreen" allowfullscreen></iframe>
</div>
<div class="pt-2 pb-2 text-right">
  <button class="btn btn-primary cursor-pointer" type="button"
          (click)="bsModalRef.hide()">{{'GENERAL.CLOSE' |translate}}</button>
  <!--  <button class="btn btn-primary mr-2">default</button>-->
</div>

<!--https://player.vimeo.com/video/509911065-->
