<div class="col-12 pt-4 pb-4">
  <div class="items-wrapper">
    <div class="d-flex mb-2">
      <h6 class="title-in-items w-50">Items and Descriptions</h6>
      <h6 class="title-in-items w-25 text-center">Items and Descriptions</h6>
      <h6 class="title-in-items w-25 text-center">Items and Descriptions</h6>
    </div>
    <div class="d-flex item-self" *ngFor="let a of [1,1,1]">
      <div class="p-1">
        <span class="number-item">1</span>
        <img class="image"
             src="https://res.cloudinary.com/mysterytacklebox/image/fetch/q_auto,f_auto/w_656,h_492,c_limit/w_656,h_492,c_pad,b_white/https://karls.azureedge.net/media/catalog/product/m/e/memorial-day-tshirt-mockup_copy.jpg"
             alt="">
      </div>
      <div class="p-1">
        <div><b class="mt-1 item-name">Lorem ipsum dolorw.</b></div>
        <div>
          <small class="text-muted mt-1">SKU: 0000101</small>
        </div>
      </div>
    </div>
  </div>
</div>
