<app-header></app-header>
<app-side-bar></app-side-bar>
<div class="container-row d-flex">
  <app-list-inventory [title]="'Movimientos'"
                      [mode]="'home'"
                      [limit]="5"
                      class="col-md-6 col-sm-12 col-lg-4 row m-0 pl-1">
  </app-list-inventory>
  <app-list-products [title]="'Productos'"
                     [mode]="'home'"
                     [limit]="5"
                     class="col-md-6 col-sm-12 col-lg-4 row m-0 pl-1">
  </app-list-products>
  <app-list-providers [title]="'Proveedores'"
                      [mode]="'home'"
                      [limit]="5"
                      class="col-md-6 col-sm-12 col-lg-4 row m-0 pl-1">
  </app-list-providers>
  <!--  <app-detail-invoice class="col-6 row m-0 pl-2"></app-detail-invoice>-->
  <!--  <app-list-items [title]="'Last products'" class="col-3 row m-0 pl-2"></app-list-items>-->
  <!--  <app-list-items [title]="'Upload and Download'" class="col-3 row m-0 pl-2"></app-list-items>-->
</div>

