<form (submit)="onSubmit()" class="form-product w-100 flex-wrap d-flex" [formGroup]="form">
  <div class="col-12 p-0 flex-wrap d-flex">
    <!--    {{share.findInvalidControls(form) | json}}-->
    <div class="text-right w-100">
      <app-section-btn (cbList)="cbList()" [trash]="true" (cbTrash)="cbTrash()" [valid]="form.valid"></app-section-btn>
    </div>

    <div class="custom-card-style col-12 flex-wrap d-flex">
      <div class="col-12 p-0">
        <div class="name">
          <div class="form-group">
            <label>{{"PROVIDER.NAME" |translate}}</label>
            <input type="text" formControlName="name"
                   class="form-control" aria-describedby="emailHelp"
                   placeholder=""></div>
        </div>
      </div>
    </div>

    <div class="custom-card-style col-12 mt-2 flex-wrap d-flex">
      <div class="col-12 p-0">
        <div class="name">
          <div class="form-group">
            <label>{{"PROVIDER.EMAIL" |translate}}</label>
            <input type="text" formControlName="email"
                   class="form-control" aria-describedby="emailHelp"
                   placeholder=""></div>
        </div>
      </div>
    </div>

    <div class="custom-card-style col-12 mt-2 flex-wrap d-flex">
      <div class="col-12 p-0">
        <div class="name">
          <div class="form-group">
            <label>{{"PROVIDER.MANAGER" |translate}}</label>
            <!--            <input type="text" formControlName="manager"-->
            <!--                   class="form-control" aria-describedby="emailHelp"-->
            <!--                   placeholder=""></div>-->
            <ng-select formControlName="manager" [items]="users"
                       bindLabel="name"
                       (search)="src($event)"
                       [notFoundText]="'PROVIDER.SEARCH_PRODUCT' |translate"
                       (change)="selectUser($event)"
                       [required]="true"
                       placeholder="">
            </ng-select>
          </div>
        </div>
      </div>
    </div>

    <div class="custom-card-style col-12 mt-2 flex-wrap d-flex">
      <div class="col-12 p-0">
        <div class="name">
          <div class="form-group">
            <label>{{"PROVIDER.ADDRESS" |translate}}</label>
            <input type="text" formControlName="address"
                   class="form-control" aria-describedby="emailHelp"
                   placeholder=""></div>
        </div>
      </div>
    </div>

    <div class="custom-card-style col-12 mt-2 flex-wrap d-flex">
      <div class="col-12 p-0">
        <div class="name">
          <div class="form-group">
            <label>{{"PROVIDER.PHONE" |translate}}</label>
            <input type="text" formControlName="phone"
                   class="form-control" aria-describedby="emailHelp"
                   placeholder=""></div>
        </div>
      </div>
    </div>

    <div class="custom-card-style col-12 mt-2 flex-wrap d-flex">
      <div class="col-12 p-0">
        <div class="name">
          <div class="form-group">
            <label>{{"PROVIDER.DESCRIPTION" |translate}}</label>
            <input type="text" formControlName="description"
                   class="form-control" aria-describedby="emailHelp"
                   placeholder=""></div>
        </div>
      </div>
    </div>

    <div class="custom-card-style col-12 mt-2 flex-wrap d-flex">
      <div class="form-group w-100">
        <label>{{"PROVIDER.TAG" |translate}}</label>
        <tag-input class="chip-price" [(ngModel)]="itemsAsObjects"
                   [identifyBy]="'id'"
                   formControlName="tag"
                   [displayBy]="'name'"></tag-input>
      </div>
    </div>

  </div>
</form>
