<ng-container *ngIf="mode === 'page'">
  <app-header [history]="history"></app-header>
  <app-navbar></app-navbar>
  <app-side-bar></app-side-bar>
</ng-container>

<div class="w-100" [ngClass]="{ 'container-row d-flex': mode === 'page' }">
  <ng-container
    *ngTemplateOutlet="loadingAll; context: { loading: loading }"
  ></ng-container>
  <div *ngIf="mode === 'home'" class="col-12 mb-2">
    <b class="text-muted">{{ title }}</b>
  </div>
  <app-list-items
    (cbAdd)="goTo()"
    [(data)]="data"
    [type_list]="'providers'"
    [mode]="cbMode"
    [filtersMode]="viewMore"
    [customTemplate]="customTemplateSrc"
    (cbSrc)="onSrc($event)"
    (cbPdf)="cbPdf()"
    class="col-12 row m-0 pl-1 pr-1"
  >
  </app-list-items>
  <ng-container
    *ngTemplateOutlet="templateEmpty; context: { data: dataTake }"
  ></ng-container>
</div>

<!-- ************ PAGINATE BUTTON ************  -->
<div *ngIf="viewMore" class="w-100" [style.opacity]="loading ? '0' : '1'">
  <ng-template
    #firstTemplate
    let-disabled="disabled"
    let-currentPage="currentPage"
  >
    <fa-icon [icon]="faAngleDoubleLeft"></fa-icon>
  </ng-template>

  <ng-template
    #lastTemplate
    let-disabled="disabled"
    let-currentPage="currentPage"
  >
    <fa-icon [icon]="faAngleDoubleRight"></fa-icon>
  </ng-template>
  <ng-template
    #prevTemplate
    let-disabled="disabled"
    let-currentPage="currentPage"
  >
    <fa-icon [icon]="faAngleLeft"></fa-icon>
  </ng-template>
  <ng-template
    #nextTemplate
    let-disabled="disabled"
    let-currentPage="currentPage"
  >
    <fa-icon [icon]="faAngleRight"></fa-icon>
  </ng-template>
  <div
    class="pagination-row"
    *ngIf="pagination?.hasPrevPage || pagination?.hasNextPage"
  >
    <pagination
      (pageChanged)="pageChanged($event)"
      [itemsPerPage]="pagination?.limit"
      [customFirstTemplate]="firstTemplate"
      [customLastTemplate]="lastTemplate"
      [customPreviousTemplate]="prevTemplate"
      [customNextTemplate]="nextTemplate"
      [maxSize]="pagination?.limit"
      [totalItems]="pagination?.totalDocs"
    >
    </pagination>
  </div>
</div>

<!-- ************ PAGINATE BUTTON ************  -->

<!-- ***************** TEMPLATE ************** -->

<ng-template #customTemplateSrc let-dat="dat">
  <ul>
    <li
      *ngFor="let inside of dat | async"
      [routerLink]="['/', 'providers', inside?._id]"
      class="col-12 row ml-0 mr-0"
    >
      <div class="col-md-6 col-lg-6 col-sm-6 col-6 pl-0 pr-0">
        <div class="d-flex">
          <div class="d-none d-md-block">
            <ngx-avatar
              cornerRadius="5"
              [round]="false"
              size="35"
              [name]="inside?.name"
            ></ngx-avatar>
          </div>

          <div class="w-100">
            <div class="name mr-2 ml-2 font-weight-bold">
              {{ inside?.name }}
            </div>
            <div class="ml-1 mt-1 badge-zone" *ngIf="inside?.tag?.length">
              <span
                class="badge-tag badge mr-1"
                *ngFor="let tag of inside?.tag"
              >
                {{ tag?.name ? tag?.name : tag }}
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-6 col-sm-6 col-6 pl-0 pr-0 text-right">
        <div>
          <b class="price-main"
            >{{ inside?.manager?.name }} {{ inside?.manager?.lastName }}</b
          >
        </div>
        <div class="pt-1">
          <span class="text-muted">
            <span class="pr-1">
              <fa-icon [icon]="faIndustry"></fa-icon>
            </span>
            {{ inside?.phone }}
          </span>
          <span class="text-muted ml-2">
            <span class="pr-1">
              <fa-icon [icon]="faUser"></fa-icon>
            </span>
            {{ inside?.manager?.phone }}
          </span>
        </div>
      </div>
    </li>
  </ul>
</ng-template>

<!-- ***************** FIN TEMPLATE ************** -->
<ng-template #templateEmpty let-data="data">
  <ng-container *ngIf="!loading"
    ><app-box-empty *ngIf="!data?.length"></app-box-empty
  ></ng-container>
</ng-template>
<ng-template #loadingAll let-loading="loading">
  <div *ngIf="loading === true" class="w-100 text-center h-100 loading-wrapper">
    <div class="in">
      <img
        [width]="'5rem'"
        src="../../../../../assets/images/loading-svg.svg"
        alt=""
      />
    </div>
  </div>
</ng-template>
