<ng-container *ngIf="mode === 'page'">
  <app-header [history]="history"></app-header>
  <app-side-bar></app-side-bar>
</ng-container>

<div class="w-100" [ngClass]="{'container-row d-flex':(mode === 'page')}">
  <div *ngIf="mode === 'home'" class="col-12 mb-2">
    <b class="text-muted">{{title}}</b>
  </div>
  <app-list-items
    (cbAdd)="goTo()"
    [(data)]="data"
    [mode]="cbMode"
    [customTemplate]="customTemplateSrc"
    (cbSrc)="onSrc($event)"
    class="col-12 row m-0 pl-2" [ngClass]="{'pr-4':(mode === 'list'),
    'pr-0':(mode === 'home')}">
  </app-list-items>
</div>

<!-- ************ PAGINATE BUTTON ************  -->

<div *ngIf="viewMore" class="w-100">
  <div (click)="paginate()" class="col-12 text-center p-4 d-flex justify-content-center">
    <button type="button" class="btn btn-paginate btn-view-more">{{'GENERAL.VIEW_MORE'|translate}}</button>
  </div>
</div>


<!-- ************ PAGINATE BUTTON ************  -->

<!-- ***************** TEMPLATE ************** -->

<ng-template #customTemplateSrc let-dat='dat'>
  <ul *ngIf="dat?.length">
    <li *ngFor="let inside of dat" [routerLink]="['/','providers',inside?._id]" class="col-12 row ml-0 mr-0">
      <div class="col-md-6 col-lg-6 col-sm-12 pl-0 pr-0">
        <div class="d-flex ">
          <ngx-avatar [name]="inside?.name"></ngx-avatar>
          <div class="w-100">
            <h6 class="name mr-2 ml-1">{{inside?.name}}</h6>
            <div class="ml-1 mt-1 badge-zone" *ngIf="inside?.tag?.length">
                <span class="badge-tag badge mr-1 " *ngFor="let tag of inside?.tag">
                {{tag?.name}}
              </span>
            </div>
          </div>

        </div>
        <div>

        </div>
      </div>
      <div class="col-md-6 col-lg-6 col-sm-12  text-right">
        <div>
          <b class="price-main">{{inside?.manager?.name}} {{inside?.manager?.lastName}}</b>
        </div>
        <div class=" pt-1">
          <span class="text-muted">
            <span class="pr-1">
                <fa-icon [icon]="faIndustry"></fa-icon>
              </span>
            {{inside?.phone}}
          </span>
          <span class="text-muted ml-2">
            <span class="pr-1">
                <fa-icon [icon]="faUser"></fa-icon>
              </span>
            {{inside?.manager?.phone}}
          </span>
        </div>
      </div>
    </li>
  </ul>
</ng-template>

<!-- ***************** FIN TEMPLATE ************** -->
