<div class="container-row">
  <div *ngIf="error" class="alert alert-danger col-12">
    ⛔️ {{error?.message}}
  </div>
  <ng-container *ngIf="pluginActive">
    <div class="text-center animate__animated animate__fadeInDown">
      <img class="logo" [src]="content?.settings?.logo" alt="">
      <div>
        <h5>{{content?.settings?.name}}</h5>
      </div>
    </div>
    <div class="d-flex mt-4 animate__animated animate__fadeInDown grid-product pl-0 pr-0
      col-sm-12  col-md-12 col-lg-12 col-xl-12">
      <div class="pl-2">
        <div>Hola <b>{{content?.customer?.name}} {{content?.customer?.lastName}}</b></div>
        <div class="font-weight-bold text-success mt-2">
          {{content?.amount | number:'1.2-2'}} <span>{{content?.currency}}</span>
        </div>
        <div class="text-muted mt-1">{{content?.description}}</div>
      </div>
    </div>
    <hr>
    <form *ngIf="content?.status === 'wait'" class="mt-4" [formGroup]="addForm" (submit)="pay()">
      <div
        class="form-group animate__animated animate__fadeInDown ml-0 mr-0 row pl-0 pr-0
      col-sm-12  col-md-12 col-lg-12 col-xl-12">
        <label>Nombre en la tarjeta</label>
        <input type="text" class="form-control col-12"
               formControlName="name"
               placeholder="Juan Camilo">
        <small class="form-text text-muted">Ingresa el nombre del titular</small>
      </div>
      <hr>
      <div class="form-group animate__animated animate__fadeInDown ml-0 mr-0 row pl-0 pr-0
      col-sm-12  col-md-12 col-lg-12 col-xl-12">
        <label>Email</label>
        <input type="email" class="form-control"
               formControlName="email"
               placeholder="juan@gmail.com">
        <small class="form-text text-muted">Ingresa el email</small>
      </div>
      <hr>
      <div class="form-group animate__animated animate__fadeInDown w-100">
        <label>Información de la tarjeta</label>
        <div class="form-control input-card input" id="card_number"></div>
        <div class=" d-flex">
          <div class="form-control input-exp input " id="card_exp"></div>
          <div class="form-control input-ccv input" id="card_cvc"></div>
        </div>
      </div>
      <hr>
      <div class="d-flex p-2 text-muted justify-content-between footer mb-2">
        <div class="w-50">
          Powered by <a href="https://kitagil.com/" target="_blank">
          <b>KitAgil</b></a> & <a href="https://stripe.com/" target="_blank"><b>Stripe</b></a>
        </div>
        <div class="d-flex w-50 flex-row-reverse">
        <span class="ml-2">
          <a href="https://stripe.com/checkout/terms" target="_blank">Condiciones</a>
        </span>
          <span class="ml-2">
          <a href="https://stripe.com/privacy" target="_blank">Privacidad</a>
       </span>
        </div>
      </div>
      <button type="submit mb-4 pb-4"
              [disabled]="!addForm.valid"
              class="btn btn-primary hvr-grow  btn-block ">Pagar
      </button>
      <div *ngIf="error" class="alert alert-danger col-12 mt-4">
        ⛔️ {{error?.message}}
      </div>
    </form>
    <div *ngIf="content?.status === 'success'" class="animate__animated animate__fadeInDown ">
      <div class="">
        <h4 class="font-weight-bold mb-3">Gracias por tu pago</h4>
        <p>El estatus de tu pago <span class="badge-pay">{{content?.status}}</span></p>
        <p>Código de transacción es <span class="badge-pay">{{content?.customData?.stripe?.id}}</span></p>
      </div>
    </div>
  </ng-container>
</div>
