<div class="d-flex justify-content-center flex-column align-items-center">
  <div class="close-icon" (click)="close()">
    <fa-icon [icon]="faTimes" size="2x"></fa-icon>
  </div>
  <div class="text-center w-100">
    <h5 class="font-weight-bold p-2">
      {{'WIZARD.TITLE'| translate}}
    </h5>
  </div>

  <div class="p-2 text-content">
    <div [innerHTML]="'WIZARD.CONTENT' | translate"></div>
    <div class="w-100 text-center pt-2">
      <button type="button" class="btn btn-primary"
              (click)="videoHelpService.open({url:listVideos.settingsVideo})"
              [innerHTML]="'WIZARD.VIDEO_HELP' | translate"></button>
    </div>
    <hr>
    <div>
      <div class="text-center p-3" *ngIf="preview?.image">
        <img class="avatar-preview" (click)="reset()" [src]="preview?.image" alt="">
      </div>

      <div class="form-group logo-drop" *ngIf="!preview?.image">
        <label>{{'WIZARD.FORM.LOGO' |translate}}</label>
        <ngx-file-picker
          [fileMaxCount]="1"
          (fileAdded)="fileAdded($event)"
          [fileExtensions]="['jpg', 'jpeg', 'png']"
          [enableCropper]="false"
          [showPreviewContainer]="false">
          <div class="dropzoneTemplate text-center">
            <small class="text-muted">{{'WIZARD.FORM.DRAG_ZONE' | translate}}</small>
          </div>
        </ngx-file-picker>
        <small class="form-text text-muted">{{'WIZARD.FORM.LOGO_PLACEHOLDER' | translate}}</small>
      </div>

      <form class="form-product" [formGroup]="form" (ngSubmit)="update()">

        <div class="form-group">
          <label>{{'WIZARD.FORM.COMPANY' |translate}}</label>
          <input type="text" class="form-control"
                 placeholder="LeangaSoftware" formControlName="name">
          <small class="form-text text-muted">{{'WIZARD.FORM.COMPANY_PLACEHOLDER' | translate}}</small>
        </div>
        <div class="form-group pb-3">
          <label>{{'WIZARD.FORM.CURRENCY' |translate}}</label>
          <ng-select [items]="currencies" bindLabel="code" bindValue="code" [clearable]="false"
                     formControlName="currency" (change)="preSelectSymbol($event)">
            <ng-template ng-label-tmp let-item="item">
              {{item?.code}}
            </ng-template>
            <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
              <b>{{item?.code}}</b> {{item?.name}}
            </ng-template>
          </ng-select>
          <small class="form-text text-muted">{{'WIZARD.FORM.CURRENCY_PLACEHOLDER' | translate}}</small>
        </div>

        <div class="form-group pb-3">
          <label>{{'WIZARD.FORM.CURRENCY_SYMBOL' |translate}}</label>
          <ng-select [items]="currencies" bindLabel="code" bindValue="symbol_native" [clearable]="false"
                     formControlName="currencySymbol" (change)="test($event)">
            <ng-template ng-label-tmp let-item="item">
              {{item?.symbol_native}}
            </ng-template>
            <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
              <b>{{item?.symbol_native}}</b> {{item?.name}}
            </ng-template>
          </ng-select>
          <small class="form-text text-muted">{{'WIZARD.FORM.CURRENCY_SYMBOL_PLACEHOLDER' | translate}}</small>
        </div>

        <div class="text-center mt-4 mb-2">
          <button ngxLoading [loadingFlag]="loading"
                  type="button"
                  (click)="bsModalRef.hide()"
                  [textInitial]="'GENERAL.SKIP' | translate"
                  [textLoading]="'GENERAL.LOADING_SINGLE' | translate"  [disabled]="!form.valid"
                  class="btn btn-default mr-2 hvr-grow  btn-radius">
          </button>

          <button ngxLoading [loadingFlag]="loading"
                  [textInitial]="'UPGRADE.UPGRADE_OK' | translate"
                  [textLoading]="'GENERAL.LOADING_SINGLE' | translate"  [disabled]="!form.valid"
                  class="btn btn-primary hvr-grow  btn-radius">
          </button>
        </div>

      </form>
    </div>

  </div>
</div>
