<div class="row m-0 col-12 p-0">
  <div class="col-sm-12 col-md-12 col-lg-4">
    <div class="login-section">
      <div class="title-section">
        <h1 class="title">{{"RESET.WELCOME" | translate}}</h1>
        <span class="text-muted">{{"RESET.SUB_TITLE" |translate}}</span>
      </div>
      <form [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off">
        <div class="d-flex  justify-content-center pb-4 mb-2 flex-column align-items-center" *ngIf="unlocked">
          <ng-lottie width="200px" [options]="optionsUnlocked"
                     (loopComplete)="stop()"
                     (animationCreated)="animationMailCreated($event)">
          </ng-lottie>
          <div class="text-center pt-3">
            <span>{{'RESET.MESSAGE'| translate}}</span>
          </div>
        </div>

        <div *ngIf="!unlocked">
          <div class="form-group">
            <label for="exampleInputPassword1">{{"RESET.FORM.PASSWORD" |translate}}</label>
            <input type="password"
                   formControlName="password"
                   class="form-control" id="exampleInputPassword1" placeholder="Password">
            <small class="form-text text-muted">{{"RESET.FORM.PASSWORD_PLACEHOLDER" |translate}}</small>

          </div>

          <div class="form-group">
            <label for="exampleInputPassword2">{{"RESET.FORM.PASSWORD_CONFIRM" |translate}}</label>
            <input type="password"
                   formControlName="confirm_password"
                   class="form-control" id="exampleInputPassword2" placeholder="Password">
            <small class="form-text text-muted">{{"RESET.FORM.PASSWORD_CONFIRM_PLACEHOLDER" |translate}}</small>

          </div>

          <button [disabled]="!form.valid" ngxLoading [loadingFlag]="loading"
                  [textInitial]="'RESET.FORM.SEND' | translate"
                  [textLoading]="'GENERAL.LOADING_SINGLE' | translate"
                  type="submit"
                  class="btn btn-primary hvr-grow  btn-radius btn-block"></button>
        </div>
        <div class="col-12 text-center p-4" *ngIf="unlocked">
          <a class="font-weight-bold" [routerLink]="['/','oauth','login']">{{'RESET.GO_TO_LOGIN' | translate}}</a>
        </div>
        <!--        <button type="submit" class="btn btn-primary hvr-grow  btn-radius btn-block">{{"LOGIN.FORM.SEND" |translate}}</button>-->
      </form>
    </div>
  </div>
  <div class="col-8 img-section d-none d-sm-none d-md-none d-lg-block">
    <div class="text-center d-block m-auto">
      <ng-lottie width="50%" [options]="options" (animationCreated)="animationCreated($event)"></ng-lottie>
    </div>
  </div>
</div>
