.item-add-on {
  cursor: pointer;
  background-color: white;
  padding: .5rem .5rem;
  font-size: .8rem;
  border-radius: .75rem;
  height: 13rem;
  margin-top: .8rem;
  box-shadow: 1px 3px 0px #EEEFF6;
}
.item-list{
  list-style: none;
  margin: 0;
  flex-wrap: wrap;
  padding: 0;
}

.item-add-on:hover{
  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  -o-transition: all 200ms;
  transition: all 200ms;
  transform: scale(1.03);
  z-index: 9;
}

.item-add-on .cover{
  width: 100px;
  border-radius: .75rem;
  height: 100px;
  object-fit: cover;
}
.icon-addons{
  background-color: #E2F2FF;
  width: 45px;
  height: 45px;
  border-radius: 4rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-addons fa-icon{
  color: #01B1FF;
}
