<!----
!!! ATENCION:
Al momento de realizar plantillas personalizadas debes de tomar en cuenta
los siguientes parametros

1- Los items (productos) la seccion de html debe empezar con el siguiente comentario
-- ** CellStart **--
y debe finalizar. Dentro de la celda padre cada item debe estar dentro de los siguientes comentarios
  -- ** ItemsStart **--
  -- ** ItemsEnd **--

-- ** CellEnd **--

--->

<style>
  .items-table .item-single {
    padding: 10px 0px;
    font-size: 14px;
    text-align: center;
  }

  .items-table .item-single:first-child {
    padding: 10px 0px;
    font-size: 14px;
    text-align: left
  }

  .items-table .item-single:last-child {
    padding: 10px 0px;
    font-size: 14px;
    text-align: right
  }
</style>

<!-------- ********************* HEADER SECTION *********************** ----->
<section style="padding: 30px 20px 15px;font-family: Arial, Helvetica, sans-serif;">
  <table style="width: 100%;">
    <td style="width: 50%;">
      <div style="color: #a5a5a5;margin-bottom: 15px;font-size: 12px;">4/27</div>
      <div style="font-size: 50px;font-weight: 600;">Mi NEGOCIO</div>
    </td>
    <td style="width: 50%;color: #a5a5a5;vertical-align: top;font-size: 12px;text-align: right;">
      <div>__PURCHASE_DATE__</div>
      <div style="font-size: 14px;margin-top: 15px;color: #2f2929">
        Calle de Otero y Delage, 57 <br>
        28035 Madrid <br>
        <b>C.I.F. 0000001</b>
      </div>
    </td>
  </table>
</section>

<!-------- ********************* SUB-HEADER SECTION *********************** ----->
<section style="padding: 20px 20px 10px;font-family: Arial, Helvetica, sans-serif;">
  <table style="width: 100%;">
    <td style="width: 50%;vertical-align: top;color: #2f2929">
      <div><b>__CUSTOMER_NAME__ __CUSTOMER_LAST_NAME__</b></div>
      <div style="font-size: 13px">__CUSTOMER_ADDRESS__
      </div>
      <div style="font-size: 13px">__CUSTOMER_EMAIL__</div>
    </td>
    <td style="width: 50%;vertical-align: top;font-size: 14px;text-align: right;">
      <div><b>FACTURA:</b> __INVOICE_NUMBER__</div>
    </td>
  </table>
</section>

<!-------- ********************* CELLSTART SECTION *********************** ----->
<!-- ** CellStart **-->
<section class="secure-zone" style="padding: 20px 20px 10px;font-family: Arial, Helvetica, sans-serif;">
  <table style="width: 100%;">
    <!-- ** HeadStart **-->
    <tr style="font-weight: 600;">
      <td style="width:55%;padding: 15px 0px;border-bottom: solid 1px #e2e2e2;">Concepto</td>
      <td style="width:15%;padding: 15px 0px;border-bottom: solid 1px #e2e2e2;text-align: center">Cantidad</td>
      <td style="width:15%;padding: 15px 0px;border-bottom: solid 1px #e2e2e2;text-align: center">Importe</td>
      <td style="width:15%;padding: 15px 0px;border-bottom: solid 1px #e2e2e2;text-align: right">Total</td>
    </tr>
    <!-- ** HeadEnd **-->
    <!-- ** ItemsStart **-->
    <tr>
      <td style="padding: 10px 0px;font-size: 14px;">block</td>
      <td style="padding: 10px 0px;font-size: 14px;text-align: center">block</td>
      <td style="padding: 10px 0px;font-size: 14px;text-align: center">block</td>
      <td style="padding: 10px 0px;font-size: 14px;text-align: right">block</td>
    </tr>
    <tr>
      <td style="padding: 10px 0px;font-size: 14px;">block</td>
      <td style="padding: 10px 0px;font-size: 14px;text-align: center">block</td>
      <td style="padding: 10px 0px;font-size: 14px;text-align: center">block</td>
      <td style="padding: 10px 0px;font-size: 14px;text-align: right">block</td>
    </tr>
    <!-- ** ItemsEnd **-->
  </table>
</section>
<!-- ** CellEnd **-->

<!-------- ********************* TOTAL SECTION *********************** ----->
<section style="padding: 65px 20px 10px;font-family: Arial, Helvetica, sans-serif;">
  <table style="width: 100%;">
    <td>
    </td>
    <td style="text-align: right;">
      <div style="margin-bottom: 10px;">
        <div>
          <b>Sub-Total</b>
        </div>
        <div style="font-size: 15px; width: 100%;padding-bottom: 10px;">
          <!-- ** InitSubTotal **--><span class="secure-amount">121 EUR</span><!-- ** EndSubTotal **-->
        </div>
      </div>
      <div style="margin-bottom: 10px;">
        <div>
          <b>IVA</b>
        </div>
        <div style="font-size: 15px; width: 100%;padding-bottom: 10px;">
          <!-- ** InitTax **--><span class="secure-amount">121 EUR</span><!-- ** EndTax **-->
        </div>
      </div>
      <div>
        <div>
          <b>Total</b>
        </div>
        <div style="font-size: 35px; width: 100%;">
          <!-- ** InitTotal **--><span class="secure-amount">121 EUR</span><!-- ** EndTotal **-->
        </div>
      </div>
    </td>
  </table>
</section>
