
<!-------- ********************* HEADER SECTION *********************** ----->
<section style="padding: 30px 20px 15px;font-family: Arial, Helvetica, sans-serif;">
  <table style="width: 100%;">
    <td style="width: 50%;">
      <table style="margin-top: 20px;">
        <td>
          <img src="logo.jpg" alt="" style="height: 100px;">
        </td>
        <td style="line-height:25px;">
          <div>
            <span style="font-size: 30px;font-weight: 600;">KITAGIL</span><br>
            <span style="color: #a5a5a5;vertical-align: top;font-size: 12px;text-align: right;">Adress No.1, Col. Example</span>
          </div>
        </td>
      </table>
    </td>
    <td style="width: 50%; text-align: left; padding-left: 12px;">
      <span style="font-size: 45px;font-weight: 600; letter-spacing: 5px;">Invoice</span><br>
      <table style="width: 100%; line-height:10px;">
        <tr style="text-align: left;">
          <th style="width: 30%;">Invoice#</th>
          <th style="width: 70%;"><span>__INVOICE_NUMBER__</span></th>
        </tr>
        <tr style="text-align: left;">
          <th style="width: 30%;">Date</th>
          <th style="width: 70%;">__PURCHASE_DATE__</th>
        </tr>
      </table>
      <span></span>
    </td>
  </table>
</section>
<!-------- ********************* SUB-HEADER SECTION *********************** ----->
<section style="padding: 5px 20px 15px;font-family: Arial, Helvetica, sans-serif;">
  <table style="width: 100%;">
    <tr style="width: 100%;">
      <th style="width: 50%; text-align: left;">
        <span>Bill To:</span><br>
        <span>__CUSTOMER_NAME__ __CUSTOMER_LAST_NAME__</span><br>
        <div style="color: #a5a5a5;vertical-align: top;font-size: 12px;"> <!-- Informacion del cliente -->
          <span>__CUSTOMER_ADDRESS__</span><br>
          <span>__CUSTOMER_PHONE__</span><br>
        </div>
      </th>
      <th style="width: 50%; text-align: left;">

      </th>
    </tr>
  </table>
</section>
<style>
  .items-table .item-single {
    padding: 10px 0px;
    font-size: 14px;
    text-align: center;
  }

  .items-table .item-single:first-child {
    padding: 10px 0px;
    font-size: 14px;
    text-align: left
  }

  .items-table .item-single:last-child {
    padding: 10px 0px;
    font-size: 14px;
    text-align: right
  }
</style>


<!-------- ********************* CELLSTART SECTION *********************** ----->
<!-- ** CellStart **-->
<section class="secure-zone" style="padding: 20px 20px 10px;font-family: Arial, Helvetica, sans-serif;">
  <table style="width: 100%; border-collapse: collapse; border-bottom: solid 2px black;">
    <!-- ** HeadStart **-->
    <tr style="font-weight: 600;">
      <td style="width:55%;padding: 15px 0px;border-bottom: solid 2px black;"><span>Concepto</span></td>
      <td style="width:15%;padding: 15px 0px;border-bottom: solid 2px black;text-align: center">Cantidad</td>
      <td style="width:15%;padding: 15px 0px;border-bottom: solid 2px black;text-align: center">Importe</td>
      <td style="width:15%;padding: 15px 0px;border-bottom: solid 2px black;text-align: right">Total</td>
    </tr>
    <!-- ** HeadEnd **-->
    <!-- ** ItemsStart **-->
    <tr style="border-bottom: solid 1px #e2e2e2">
      <td style="padding: 10px 0px;font-size: 14px; border-right: solid 1px #e2e2e2; border-right: solid 2px black;">block</td>
      <td style="padding: 10px 0px;font-size: 14px;text-align: center; border-right: solid 1px #e2e2e2; border-right: solid 2px black;">block</td>
      <td style="padding: 10px 0px;font-size: 14px;text-align: center; border-right: solid 1px #e2e2e2; border-right: solid 2px black;">block</td>
      <td style="padding: 10px 0px;font-size: 14px;text-align: right">block</td>
    </tr>
    <!-- ** ItemsEnd **-->
  </table>
</section>
<!-- ** CellEnd **-->
<!-------- ********************* TOTAL SECTION *********************** ----->
<section style="padding: 5px 20px 10px;font-family: Arial, Helvetica, sans-serif;">
  <table style="width: 100%;">
    <tr style="width: 100%;">
      <td style="width: 55%;"></td>
      <td style="width: 45%;">
        <table style="width: 100%; padding-left: 10px;">
          <tr style="font-family: Arial, Helvetica, sans-serif; ">
            <td style="width: 50%;">SUB TOTAL</td>
            <td style="width: 50%; text-align: right;">
              <!-- ** InitSubTotal **--><span class="secure-amount">121 EUR</span><!-- ** EndSubTotal **-->
            </td>
          </tr>
          <tr style="font-family: Arial, Helvetica, sans-serif;">
            <td style="width: 50%;">Iva 16%</td>
            <td style="width: 50%; text-align: right;">
              <!-- ** InitTax **--><span class="secure-amount">121 EUR</span><!-- ** EndTax **-->
            </td>
          </tr>
          <tr style="margin-bottom: 10px;">
            <td colspan="2" style="width: 100%; border-bottom: 2px solid black; padding-top : 10px;"></td>
          </tr>
          <tr>
            <td style="width: 50%; padding-top: 10px;">Total</td>
            <td style="width: 50%; text-align: right; padding-top: 10px;">
              <!-- ** InitTotal **--><span class="secure-amount">121 EUR</span><!-- ** EndTotal **-->
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</section>
<section style="padding: 5px 20px 10px;">
  <table style="width: 100%;">
    <tr>
      <td style="width: 50%; text-align: left;">
        <span style="font-size: 20px; font-weight: bolder; margin-bottom: 10px;">Contacto</span><br>
        <span>123 Street Town Portal, Contry</span><br>
        <span>+52 958-135-9856  correo@correo.com</span><br>
        <span>www.kitagil.com</span><br>
      </td>
      <td style="width: 50%; text-align: right;">|

      </td>
    </tr>
    <tr>
      <td colspan="2" style="padding-top: 20px;">
        <span style="font-family: Arial, Helvetica, sans-serif;">Terminos y condiciones</span><br>
        <p style="color: #a5a5a5;vertical-align: top;font-size: 12px;">Lorem ipsum dolor sit amet, consectetur
          adipiscing elit. Proin convallis mollis ultrices. Morbi sagittis lorem eget nulla euismod tempus. Aenean ac
          mauris libero. Proin mi sem, scelerisque id elementum non, vestibulum quis ligula. Duis feugiat turpis sit
          amet massa viverra aliquet. Duis quis magna non urna euismod dapibus non eget enim. Phasellus pharetra
          vulputate tellus, at gravida neque interdum ac. Nam quis aliquet erat, vitae bibendum massa. Etiam feugiat
          accumsan nisl, non mattis arcu sagittis non. Phasellus quam quam, ultricies sit amet nunc et, cursus fermentum
          ipsum. Vivamus quis fringilla turpis. Phasellus enim mauris, dictum in lacus non, porta elementum eros.
          Quisque ut lorem congue, imperdiet lorem nec, sagittis mi. Integer purus turpis, fermentum feugiat aliquam
          eget, luctus eu ipsum. Donec in purus sed urna condimentum vestibulum. Vivamus pulvinar nulla nunc, non
          volutpat augue fringilla eget.</p>
      </td>
    </tr>
  </table>
</section>
