<!-------- ********************* HEADER SECTION *********************** ----->
<section style="padding: 30px 20px 15px; font-family: Arial, Helvetica, sans-serif;">
    <table style="width: 100%;">
        <tr>
            <td style="width: 60%; vertical-align: top;">
                <span style="font-size: 50px; font-weight: 700; color: rgb(17, 131, 195)">Invoice</span><br>
                <span style="font-size: 16px; color: #8c8289">No # 234523</span>
            </td>
            <td style="width: 40%; text-align: right;">
                <span style="font-size: 30px; letter-spacing: 2px; font-weight: 600;">LOGO</span><br><br>
            </td>
        </tr>
    </table>
</section>

<!-------- ********************* SUB-HEADER SECTION *********************** ----->
<section style="padding: 0px 20px 15px;">
    <table style="width: 100%;">
        <tr>
            <td style="width: 60%;">
                <span style="font-size: 17px; color: #8c8289 ;">Invoice to</span><br>
                <span>Robert Smith</span><br>
                <span>West Street, Espain IA 2398</span><br>
                <span>+52 958-100-2934</span>
            </td>
            <td style="text-align: right;">
                <table style="width: 60%; background-color: rgb(17, 131, 195); color: white; padding: 10px; text-align: right;">
                    <tr>
                        <td style="font-weight: 600;">Date</td> <td style="text-align: right; font-weight: 600;">2020/08/01</td>
                    </tr>
                    <tr>
                        <td colspan="2" style="text-align: center;">
                            <span style="font-weight: 600; font-size: 18px;">Total Due</span><br>
                            <span style="font-weight: 600; font-size: 18px;">USD: $6930.00</span>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</section>

<!-------- ********************* CELLSTART SECTION *********************** ----->
<!-- ** CellStart **-->
<section style="padding: 20px 20px 10px;font-family: Arial, Helvetica, sans-serif;">
    <table style="width: 100%; padding-bottom: 20px; border-collapse: collapse;">
        <!-- ** HeadStart **-->
        <tr style="font-weight: 600; border-radius: 100p;">
            <td style="width:55%;padding: 15px 0px; padding-left: 5px;">DESCRIPTION</td>
            <td style="width:15%;padding: 15px 0px;;text-align: center">QTY</td>
            <td style="width:15%;padding: 15px 0px;;text-align: center">PRICE</td>
            <td style="width:15%;padding: 15px 0px;;text-align: right; padding-right: 5px;">TOTAL</td>
        </tr>
        <!-- ** HeadEnd **-->
        <!-- ** ItemsStart **-->
        <tr style="font-weight: 600; border-right: solid 4px #5a2222; border-left: solid 4px #5a2222; background-color: #EBEEEC;">
            <td style="padding: 10px 0px;font-size: 14px; padding-left: 15px;">block</td>
            <td style="padding: 10px 0px;font-size: 14px;text-align: center;">block</td>
            <td style="padding: 10px 0px;font-size: 14px;text-align: center;">block</td>
            <td style="padding: 10px 0px;font-size: 14px;text-align: right; padding-right: 15px; background-color: #EBEEEC;">block</td>
        </tr><tr><td style="padding-top: 10px; background-color: white;"></td></tr>        
        <tr style="font-weight: 600; border-right: solid 4px #5a2222; border-left: solid 4px #5a2222; background-color: #EBEEEC;">
            <td style="padding: 10px 0px;font-size: 14px; padding-left: 15px;">block</td>
            <td style="padding: 10px 0px;font-size: 14px;text-align: center;">block</td>
            <td style="padding: 10px 0px;font-size: 14px;text-align: center;">block</td>
            <td style="padding: 10px 0px;font-size: 14px;text-align: right; padding-right: 15px; background-color: #EBEEEC;">block</td>
        </tr><tr><td style="padding-top: 10px; background-color: white;"></td></tr>
        <!-- ** ItemsEnd **-->
    </table>
</section>

<!-------- ********************* TOTAL SECTION *********************** ----->
<section>
    <table style="width: 100%; padding: 20px 20px 10px;">
        <tr style="width: 50%;">
            <td style="width: 60%; text-align: left;">
                <span style="font-weight: 600; font-size: 15px;">Bank information</span><br>
                <span style="font-size: 13px;">Bank Name : </span><span style="font-size: 13px; color: #8c8289">Your bank name</span><br>
                <span style="font-size: 13px;">SWIP Code : </span><span style="font-size: 13px; color: #8c8289">Code 1293</span><br>
                <span style="font-size: 13px;">Banck Acc : </span><span style="font-size: 13px; color: #8c8289">123-456-789</span><br>
            </td>
            <td style="width: 40%; vertical-align: top;">
                <table style="width: 100%; border-collapse: collapse;">
                    <tr style="font-weight: 600; border-right: solid 4px #5a2222; border-left: solid 4px #5a2222; background-color: #EBEEEC; ">
                        <td style="width: 0%; padding-left: 10px; padding: 5px">SUB TOTAL:</td>
                        <td style="text-align: right; padding-right: 20px;">
                            <!-- ** InitSubTotal **--><span>121 EUR</span><!-- ** EndSubTotal **-->                                                    
                        </td>
                    </tr>
                    <tr style="font-weight: 600;">
                        <td style="width: 0%; padding-left: 10px; padding-top: 20px;">IVA 16%:</td>
                        <td style="text-align: right; padding-right: 20px;">
                            <!-- ** InitTax **--><span>121 EUR</span><!-- ** EndTax **-->                                                        
                        </td>
                    </tr>
                    <tr><td style="padding-top: 15px;"></td></tr>
                    <tr style="font-weight: 600; margin-top: 80px; padding-top: 80px; color: white;">
                        <td style="width: 0%; padding-left: 10%; background-color: rgb(17, 131, 195); font-size: 16px; margin-top: 100px; padding: 10px;">Total:</td>
                        <td style="text-align: right; padding-right: 20px; background-color: rgb(17, 131, 195); font-size: 16px;">
                            <!-- ** InitTotal **--><span>121 EUR</span><!-- ** EndTotal **-->                                                        
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</section>

<section>
    <table style="width: 100%; padding: 20px 20px 10px;">
        <tr>
        </tr>
        <tr>
            <td>
                <span style="font-weight: 600; font-size: 15px; padding-top: 20px;">Payment Method</span><br>
                <span style="font-size: 13px;">Bank Name : </span><span style="font-size: 13px; color: #8c8289">Your bank name</span><br>
                <span style="font-size: 13px;">SWIP Code : </span><span style="font-size: 13px; color: #8c8289">Code 1293</span><br>
                <span style="font-size: 13px;">Banck Acc : </span><span style="font-size: 13px; color: #8c8289">123-456-789</span><br>
            </td>
            <td style="text-align: right; vertical-align: top;">
                <span style="font-size: 15px; font-weight: 600;">Rodrigo Mendoza</span><br>
                <span style="font-size: 13px; color: #8c8289">Manager</span>
            </td>
        </tr>
    </table>
</section>

<!-------- ********************* FOOTER SECTION *********************** ----->
<section style="width: 100%; padding: 20px 20px 10px; font-family: Arial, Helvetica, sans-serif;">
    <table>
        <tr>
            <td style="width: 40%; border-right: 1px solid #8c8289; display: inline-block;">
                <span style="font-weight: 600; font-size: 12px;">Tems & Conditions</span><br>            
                <span style="font-size: 11px; color: #8c8289;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</span>
            </td>
            <td style="width: 20%;">
                <span style="font-size: 12px; font-weight: 600; padding-left: 10px;">Address</span><br>
                <span style="font-size: 12px; padding-left: 10px; color: #8c8289;">3894 West Street</span>
            </td>
            <td style="width: 20%;">
                <span style="font-size: 12px; font-weight: 600;">Phone</span><br>
                <span style="font-size: 12px; color: #8c8289">+52 958-125-0938</span><br>
                <span style="font-size: 12px; color: #8c8289">+52 958-125-0938</span><br>
            </td>
            <td style="width: 20%;">
                <span style="font-size: 12px; font-weight: 600;">Web</span><br>
                <span style="font-size: 12px; color: #8c8289">kitagil.com</span><br>
                <span style="font-size: 12px; color: #8c8289">mochileros.com</span><br>
            </td>
        </tr>
    </table>
</section>