<div class="w-100 text-center p-2">
  <div class="pb-2 text-center alert alert-warning d-flex">
    <div class="mr-2">
      <fa-icon [icon]="faFileExcel" size="lg"></fa-icon>
    </div>
    <div class="d-flex align-content-center align-items-center" [innerHTML]="'IMPORT_DATA.MESSAGE_MODAL' |translate">
    </div>
  </div>
  <input *ngIf="!fileName?.name" id="file-upload" class="custom-file-input-excel" #imageInput type="file"
         accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
         (change)="onFileChange($event)">
  <div class="w-100 table-preview-import table-responsive" *ngIf="preview_file">
    <ngx-datatable
      class="material"
      [rows]="dataExcel"
      [columns]="columns"
      [sortType]="SortType.multi"
      [columnMode]="ColumnMode.force"
      [headerHeight]="50"
      [footerHeight]="50"
      [rowHeight]="50"
      [limit]="10"
    >
    </ngx-datatable>
  </div>

  <div class="d-flex justify-content-between">
    <button class="btn btn-primary hvr-grow  btn-sm" [disabled]="!fileName?.name || (loading)"
            (click)="sendFile()">{{'GENERAL.SAVE'|translate}}</button>
    <button class="btn btn-default btn-sm" (click)="bsModalRef.hide()">{{'GENERAL.CANCEL'|translate}}</button>
  </div>
</div>
