.table-excel{
  background-color: var(--main-color-4);
}

.custom-file-input-excel {
  color: transparent;
  height: 250px;
  width: 100%;
}

.custom-file-input-excel::-webkit-file-upload-button {
  visibility: hidden;
}

.custom-file-input-excel::before {
  content: '';
  background-image: url("../../assets/cloud-computing.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 3rem;
  color: black;
  /*background: #ffffff;*/
  border: 1px solid #efefef;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 400;
  font-size: 10pt;
  width: 100%;
  text-align: center;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-file-input-excel:hover::before {
  border-color: #efefef;
}

.table-preview-import{
 max-height: 70vh;
  overflow-y: auto;
}
.custom-file-input-excel:active {
  outline: 0;
  width: 100%;
  height: 250px;
}

.custom-file-input-excel:active::before {
  background: #ffffff;
}
