<form class="form-product w-100 flex-wrap d-flex" [formGroup]="form">
  <div class="custom-card-style col-12 flex-wrap d-flex">
    <div class="col-10 p-0">
      <div class="name">
        <div class="form-group">
          <label>{{"PRODUCT.NAME" |translate}}</label>
          <input type="text" formControlName="name"
                 class="form-control" aria-describedby="emailHelp"
                 placeholder=""></div>
      </div>
    </div>
    <div class="col-2 p-0 text-right">
      <div class="list-menu-header">
        <ul>
          <li *ngFor="let a of optionsMenu">
            <div class="icon-list-menu mr-1 ml-1">
              <fa-icon size="2x" [icon]="a?.icon"></fa-icon>
            </div>
          </li>
        </ul>
      </div>
    </div>

  </div>

  <div class="col-md-6 col-lg-6 col-sm-12 pl-0 pr-2">
    <div class="custom-card-style h-100 col-12 mt-3">

      <div class="description-text">
        <ngx-editor [ngModel]="editorContent"
                    [contentEditable]="true"
                    formControlName="content"
                    (ngModelChange)="editorContentChange($event)">
        </ngx-editor>
      </div>

    </div>

  </div>

  <div class="col-md-6 col-lg-3 col-sm-12 pl-0 pr-2">
    <div class="custom-card-style col-12 mt-3">
      <div class="form-group">
        <label>{{"PRODUCT.SKU" |translate}}</label>
        <input type="text" formControlName="sku" class="form-control" aria-describedby="emailHelp"
               placeholder=""></div>
    </div>
    <div class="custom-card-style col-12 mt-2">
      <div class="form-group">
        <label>{{"PRODUCT.CATEGORIES" |translate}}</label>
        <ng-select formControlName="categories" [items]="deposits"
                   bindLabel="name"
                   placeholder="">
        </ng-select>
      </div>
    </div>
    <div class="custom-card-style col-12 mt-2">
      <div class="form-group">
        <label>{{"PRODUCT.PROVIDER" |translate}}</label>
        <ng-select formControlName="provider" [items]="providers"
                   bindLabel="name"
                   [searchable]="true"
                   [clearable]="false"
                   placeholder="">
        </ng-select>
      </div>
    </div>
    <div class="custom-card-style col-12 mt-2">
      <div class="form-group">
        <label>{{"PRODUCT.DEPOSIT" |translate}}</label>
        <ng-select formControlName="deposit" [items]="deposits"
                   bindLabel="name"
                   [clearable]="false"
                   placeholder="">
        </ng-select>
      </div>
    </div>
    <div class="custom-card-style col-12 mt-2">
      <div class="form-group">
        <label>{{"PRODUCT.TAG" |translate}}</label>
        <tag-input class="chip-price" [(ngModel)]="itemsAsObjects"
                   [identifyBy]="'id'"
                   formControlName="tag"
                   [displayBy]="'name'"></tag-input>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-lg-3 col-sm-12 pl-0 pr-2">
    <div class="custom-card-style col-12 mt-3">
      <!--      <div class="form-group">-->
      <!--        <label >{{"PRODUCT.PRICES" |translate}}</label>-->
      <!--        <tag-input class="chip-price" [removable]="true" [(ngModel)]="itemsAsObjects" [identifyBy]="'id'"-->
      <!--                   [displayBy]="'value'" #input>-->
      <!--          <ng-template let-item="item" let-index="index">-->
      <!--            {{ "GENERAL.CURRENCY_SYMBOL" |translate }} {{ item?.value | number: '1.2-2' }} {{ "GENERAL.CURRENCY" |translate }}-->
      <!--            <delete-icon (click)="input.removeItem(item, index)"></delete-icon>-->
      <!--          </ng-template>-->

      <!--        </tag-input>-->
      <!--      </div>-->
      <div class="form-group mb-0">


        <label>{{"PRODUCT.PRICES" |translate}}</label>
        <input currencyMask (focus)="onFocus($event)" class="form-control"
               #valueInput [(ngModel)]="priceTmp" [ngModelOptions]="{standalone: true}"
               [options]="ngxCurrencyOptions"/>

        <div class="text-right pt-3 pb-3">
          <button type="button" (click)="addPrice($event)" class="btn btn-sm btn-primary btn-radius btn-block">
            <fa-icon [icon]="faCheckCircle"></fa-icon>
            <span class="pl-1">{{"PRODUCT.ADD" |translate}}</span>
          </button>
        </div>
        <app-box-empty *ngIf="!prices.length"></app-box-empty>
        <div class="list-prices" *ngIf="prices.length">
          <ul>
            <li *ngFor="let price of prices">
              {{"GENERAL.CURRENCY_SYMBOL" |translate}} {{price?.amount | number :'1.2-2'}} {{"GENERAL.CURRENCY" |translate}}
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>



</form>
