<form (ngSubmit)="onSubmit()" class="form-product w-100 flex-wrap d-flex" [formGroup]="form">
  <div class="text-right w-100">
    <app-section-btn (cbList)="cbList()"
                     [trash]="(id && id!=='add')"
                     (cbTrash)="cbTrash()"
                     [valid]="form.valid"></app-section-btn>
  </div>
  <div class="custom-card-style col-12 flex-wrap d-flex">

    <div class="col-12 p-0">
      <div class="name">
        <div class="form-group">
          <label>{{"PRODUCT.NAME" |translate}}</label>
          <input type="text" formControlName="name"
                 class="form-control" aria-describedby="emailHelp"
                 placeholder=""></div>
      </div>
    </div>
  </div>

  <div class="col-md-6 col-lg-6 col-sm-12 pl-0 pr-2">
    <div class="custom-card-style  col-12 mt-3">
      <div class="description-text">
        <quill-editor class="description-card" formControlName="description"
                      [styles]="{height: '430px'}" [placeholder]="'PRODUCT.DESCRIPTION' | translate">
        </quill-editor>
      </div>

    </div>

  </div>

  <div class="col-md-6 col-lg-3 col-sm-12 pl-0 pr-2">
    <div class="custom-card-style col-12 mt-3">
      <div class="form-group mb-0">
        <label>{{"PRODUCT.PRICES" |translate}}</label>
        <input currencyMask (focus)="onFocus($event)" class="form-control"
               [ngClass]="{'ng-invalid-red':!prices?.length}"
               #valueInput [(ngModel)]="priceTmp" [ngModelOptions]="{standalone: true}"
               [options]="ngxCurrencyOptions"/>

        <div class="text-right pt-3 pb-3">
          <button type="button" (click)="addPrice($event)" class="btn btn-sm btn-primary btn-radius">
            <fa-icon [icon]="faCheckCircle"></fa-icon>
            <span class="pl-1">{{"PRODUCT.ADD" |translate}}</span>
          </button>
        </div>
        <app-box-empty *ngIf="!prices?.length"></app-box-empty>
        <div class="list-prices" *ngIf="prices?.length">
          <ul>
            <li *ngFor="let price of prices;let i = index">
              {{currencySymbol}} {{price?.amount | number :'1.2-2'}} {{currency}}
              <span class="ml-1 btn-light-trash"
                    (click)="deletePrice(i)"
                    containerClass="customToolTip"
                    [tooltip]="'GENERAL.DELETE' | translate">
                <fa-icon [icon]="faTrashAlt"></fa-icon>
              </span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="custom-card-style col-12 mt-2">
      <div class="form-group">
        <label>{{"PRODUCT.SKU" |translate}}</label>
        <input type="text" formControlName="sku"
               class="form-control" aria-describedby="emailHelp"
               placeholder=""></div>
    </div>
    <div class="custom-card-style col-12 mt-2">
      <div class="form-group">
        <label>{{"PRODUCT.TAG" |translate}}</label>
        <tag-input class="chip-price" [(ngModel)]="itemsAsObjects"
                   [identifyBy]="'id'"
                   formControlName="tag"
                   [displayBy]="'name'"></tag-input>
      </div>
    </div>


    <div class="custom-card-style col-12 mt-2">
      <div class="form-group">
        <label>{{"PRODUCT.CATEGORIES" |translate}}</label>
        <tag-input class="chip-price" [(ngModel)]="itemsAsCategories"
                   [identifyBy]="'id'"
                   formControlName="categories"
                   [displayBy]="'name'"></tag-input>
      </div>
    </div>


  </div>

  <div class="col-md-6 col-lg-3 col-sm-12 pl-0 pr-2">

    <ngx-dropzone class="drop-gallery mt-3"
                  [accept]="'image/png,image/jpeg,image/jpg'"
                  (change)="onSelect($event)">

      <ngx-dropzone-label>
        <div class="d-flex flex-column align-items-center">
          <div class="label">{{'GENERAL.DROP' |translate}}</div>
          <div class="label"><small>{{'GENERAL.FILES_ALLOW' | translate}}</small></div>
          <div>
            <ng-lottie
              class="margin-auto"
              width="200px"
              [options]="options" (animationCreated)="animationCreated($event)">
            </ng-lottie>
          </div>
        </div>
      </ngx-dropzone-label>
      <ngx-dropzone-preview [@swipe] [style.backgroundImage]="'url('+parseImage(f)+')'"
                            *ngFor="let f of files" [removable]="true"

                            (removed)="onRemove(f)">
        <ngx-dropzone-label *ngIf="f?.large" (click)="viewImage($event, f)">
          <div class="zoom-icon">
            <div>
              <fa-icon [style.color]="'white'" [icon]="faHandPointer" size="lg"></fa-icon>
            </div>
          </div>
        </ngx-dropzone-label>
      </ngx-dropzone-preview>
    </ngx-dropzone>
  </div>


</form>
