<ng-container *ngTemplateOutlet="loadingAll;context:{loading:loading}"></ng-container>
<form
  (ngSubmit)="submitData()"
  class="form-product w-100 flex-wrap d-flex"
  [formGroup]="form"
>
  <div class="text-right w-100">
    <app-section-btn
      (cbList)="cbList()"
      [options]="['list',
      (granted) ? 'save':'',
      (id?.length && granted) ? 'trash' : '']"
      (cbTrash)="cbTrash()"
      [valid]="form.valid"
    ></app-section-btn>
  </div>
  <div class="custom-card-style col-12 flex-wrap d-flex">
    <div class="col-12 p-0">
      <div class="name">
        <div class="form-group">
          <label>{{ "PRODUCT.NAME" | translate }}</label>
          <input
            autocomplete="off"
            type="text"
            formControlName="name"
            class="form-control"
            aria-describedby="emailHelp"
            placeholder=""
          />
        </div>
      </div>
    </div>
  </div>

  <div
    class="col-md-6 col-sm-12 pl-0 pr-2"
    [ngClass]="{
      'col-lg-6': !deposits?.length,
      'col-lg-6 col-xl-4': deposits?.length
    }"
  >
    <div class="custom-card-style col-12 mt-3">
      <div class="description-text">
        <quill-view *ngIf="!granted"
                    [content]="form.value.description" format="text" theme="snow"></quill-view>
        <quill-editor
          *ngIf="granted"
          class="description-card"
          formControlName="description"
          [styles]="{ height: '440px' }"
          [placeholder]="'PRODUCT.DESCRIPTION' | translate"
        >
        </quill-editor>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-xl-3 col-lg-6 col-sm-12 pl-0 pr-2">
    <div class="custom-card-style col-12 mt-3">
      <div class="form-group mb-0">
        <label>{{ "PRODUCT.PRICES" | translate }}</label>
        <input
          currencyMask
          (focus)="onFocus($event)"
          autocomplete="off"
          class="form-control"
          [ngClass]="{ 'ng-invalid-red': !prices?.length }"
          #valueInput
          [(ngModel)]="priceTmp"
          [ngModelOptions]="{ standalone: true }"
          [options]="ngxCurrencyOptions"
        />

        <div class="text-right pt-3 pb-3">
          <button
            *ngIf="(granted)"
            type="button"
            (click)="addPrice($event)"
            class="btn btn-sm btn-primary hvr-grow  btn-radius">
            <fa-icon [icon]="faCheckCircle"></fa-icon>
            <span class="pl-1">{{ "PRODUCT.ADD" | translate }}</span>
          </button>
        </div>
        <app-box-empty *ngIf="!prices?.length"></app-box-empty>
        <div class="list-prices" *ngIf="prices?.length">
          <ul>
            <li *ngFor="let price of prices; let i = index">
              {{ currencySymbol }} {{ price?.amount | number: "1.2-2" }}
              {{ currency }}
              <span class="ml-1 btn-light-trash" *ngIf="(granted)" (click)="deletePrice(i)">
                <fa-icon [icon]="faTrashAlt"></fa-icon>
              </span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="custom-card-style col-12 mt-2">
      <div class="form-group">
        <label
          containerClass="customToolTip"
          [tooltip]="'PRODUCT.HELP_SKU' | translate"
        >{{ "PRODUCT.SKU" | translate }}
          <a [href]="'HELP_LINK.SKU'|translate" target="_blank">
            <fa-icon [icon]="faQuestionCircle"></fa-icon>
          </a>
        </label>
        <input
          type="text"
          formControlName="sku"
          class="form-control"
          aria-describedby="emailHelp"
          placeholder=""
        />
      </div>
    </div>
    <div class="custom-card-style col-12 mt-2">
      <div class="form-group">
        <label>{{ "PRODUCT.TAG" | translate }}</label>
        <tag-input
          class="chip-price"
          [ripple]="false"
          [addOnBlur]="true"
          formControlName="tag"
          [modelAsStrings]="true"
        ></tag-input>
      </div>
    </div>

    <div class="custom-card-style col-12 mt-2">
      <div class="form-group">
        <label>{{ "PRODUCT.CATEGORIES" | translate }}</label>
        <tag-input
          class="chip-price"
          [addOnBlur]="true"
          formControlName="categories"
          [modelAsStrings]="true"
        ></tag-input>
      </div>
    </div>
  </div>
  <div
    class="col-md-6 col-xl-2 col-lg-6 col-sm-12 pl-0 pr-2"
    *ngIf="deposits?.length"
  >
    <div class="custom-card-style col-12 mt-3 min-h-545">
      <div class="form-group">
        <label>{{ "PRODUCT.DEPOSIT" | translate }}  <a target="_blank" [href]="'HELP_LINK.STOCK_DEPOSIT'|translate">
          <fa-icon [icon]="faQuestionCircle"></fa-icon>
        </a></label>
        <div class="list-providers">
          <ul>
            <li class="pb-2 cursor-pointer" [routerLink]="['/','deposits',a?._id]" *ngFor="let a of deposits">
              <div>
                <span class="mr-2">
                <fa-icon size="sm" [icon]="faWarehouse"></fa-icon>
                </span><span>{{ a?.name }}</span>
                <span *ngIf="(granted)"
                  containerClass="customToolTip"
                  [tooltip]="'PRODUCT.ADD_STOCK'| translate"
                  class="ml-1 btn btn-sm btn-default" [routerLink]="['/','inventory','add']"
                  [queryParams]="{product:id,deposit:a?._id}">
                  <fa-icon [icon]="faPlus"></fa-icon>
                </span>
              </div>
              <div *ngIf="a?.depositsIn?.length">
                <ul>
                  <li
                    class="text-muted child-list-deposits"
                    *ngFor="let single of a?.depositsIn">
                    <fa-icon [icon]="faAngleRight"></fa-icon>
                    <span class="ml-1">{{ single?.provider }}
                      ({{ single?.qty }}) <small class="">{{'PRODUCT.QTY' | translate}}</small></span>
                  </li>
                </ul>
              </div>
              <div
                class="text-muted p-2"
                [style.opacity]="'.5'"
                *ngIf="!a?.depositsIn?.length">
                {{ "PRODUCT.NOT_QTY" | translate }}
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6 col-xl-3 col-lg-6 col-sm-12 pl-0 pr-2">
    <app-drop-gallery></app-drop-gallery>
  </div>

  <!---************************* FOOTER BTN ************************-->
  <div class="footer-options d-flex justify-content-end">
    <div class="d-flex">

      <button  type="button" [routerLink]="['/','purchase']" class="btn btn-default btn-default ml-2">{{'GENERAL.CANCEL' |translate}}</button>
      <button type="submit" class="btn btn-default bg-success btn-success ml-2"
              ngxLoading [disabled]="!form.valid" [loadingFlag]="loading" [textInitial]="'GENERAL.SAVE' | translate"
              [textLoading]="'GENERAL.LOADING' | translate">
        <span>
          <fa-icon [icon]="faSave"></fa-icon>
        </span>
        {{'GENERAL.SAVE' |translate}}</button>
    </div>
  </div>
</form>
<ng-template #loadingAll let-loading="loading">
  <div *ngIf="loading === true" class="w-100 text-center h-100 loading-wrapper">
    <div class="in">
      <img [width]="'5rem'" src="../../../../../assets/images/loading-svg.svg" alt="">
    </div>
  </div>
</ng-template>
