:host {
  background-color: white;
  padding: 3rem 2rem;
  display: flex;
  justify-content: center;
  /*align-items: center;*/
  align-content: center;
  min-height: 100%;
  position: absolute;
  width: 100%;
}

hr {
  border-top: solid 1px whitesmoke;
}

.logo {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  object-fit: cover;
  box-shadow: -2px 5px 20px 0px rgb(173 173 173 / 19%);
}

.container-row-card {

}

a {
  font-weight: 600;
  color: #222;
}

.footer {
  opacity: .6;
  font-size: 10px;
}

#card_number {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 0px;
}

#card_exp {
  border-right: 1px solid white;
  /*width: calc(25vw / 2);*/
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#card_cvc {
  /*width: calc(25vw / 2);*/
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
}

input, .input {
  /*width: 25vw;*/
  border-radius: 1rem;
  border: 1px solid #efefef;
  box-shadow: -2px 5px 20px 0px rgb(173 173 173 / 19%);
  font-size: 1.2rem;
  padding: .75rem;
  font-weight: 400;
}

.alert {
  /*width: 25vw;*/
}

.alert-danger {
  border-radius: 1rem;
  border: solid 0px #ffebe7;
  background-color: #fffafa;
  box-shadow: 0px 6px 7px #ea32391a;
  font-weight: 600;
  color: #e45439;
  padding: .5rem;
}

.badge-pay {
  background: #f9e29e;
  border-bottom: solid 2px #ffc107;
  padding-left: 5px;
  padding-right: 5px;
  font-weight: 600;
}

.btn {
  border-radius: 1rem;
}

.grid-product {
  /*width: 25vw;*/
}

.grid-product img {
  width: 100px;
  border: solid 1px white;
  height: 100px;
  object-fit: cover;
  border-radius: .5rem;
  box-shadow: -2px 5px 20px 0px rgb(173 173 173 / 19%);
}
.paypal-cb-wrapper.active div{
  background: white;
  filter: blur(2px);
  opacity: .5;
}
