<div class="paypal-cb-wrapper" [ngClass]="{'active':(loading)}">
  <div *ngIf="error" class="alert alert-danger col-12">
    ⛔️ {{error?.message}}
  </div>
  <ng-container>
    <div class="text-center animate__animated animate__fadeInDown">
      <img class="logo" *ngIf="content?.settings?.logo" [src]="content?.settings?.logo" alt="">
      <div>
        <h5>{{content?.settings?.name}}</h5>
      </div>
    </div>
    <div class="d-flex mt-4 animate__animated animate__fadeInDown grid-product pl-0 pr-0
      col-sm-12  col-md-12 col-lg-12 col-xl-12">
      <div class="pl-2">
        <div>Hola <b>{{content?.customer?.name}} {{content?.customer?.lastName}}</b></div>
        <div class="font-weight-bold text-success mt-2">
          {{content?.amount | number:'1.2-2'}} <span>{{content?.currency}}</span>
        </div>
        <div class="text-muted mt-1">{{content?.description}}</div>
      </div>
    </div>
    <hr>

    <div class="animate__animated animate__fadeInDown ">
      <div class="">
        <h4 class="font-weight-bold mb-3">Gracias por tu pago</h4>
        <p>El estatus de tu pago <span class="badge-pay">{{content?.status}}</span></p>
        <p>Código de transacción es <span class="badge-pay">{{data?.id}}</span></p>
      </div>
    </div>
  </ng-container>
</div>
