.CodeMirror {
  min-height: 300px !important;
  height: 90vh;
  overflow-y: scroll;
}

.template-html-report {
  border: solid 1px #e8e8e8;
  margin-left: 10%;
  box-shadow: 0 0 10px #00000014;
  margin-right: 10%;
}

.template-html-report .clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.helper-variable {
  text-align: left !important;
  font-size: inherit !important;
  width: initial !important;
  margin-right: inherit !important;
  background-color: rgb(219 218 255);
  padding-left: 5px;
  margin-top: 2px;
  padding-right: 5px;
  border-radius: 3px;
}

.template-html-report a {
  color: #5D6975;
  text-decoration: underline;
}

.template-html-report body {
  position: relative;
  color: #001028;
  background: #FFFFFF;
  font-family: Arial, sans-serif;
  font-size: 12px;
}

.template-html-report header {
  padding: 10px 0;
  margin-bottom: 30px;
}

.template-html-report .logo {
  text-align: center;
  margin-bottom: 10px;
}

.template-html-report .logo img {
  width: 90px;
}

.template-html-report h1 {
  border-top: 0px solid #5D6975 !important;
  border-bottom: 1px solid #eaeaea;
  color: #5D6975;
  font-size: 2.4em;
  line-height: 1.4em;
  font-weight: normal;
  text-align: center;
  margin: 0 0 20px 0;
}

.template-html-report .project {
  float: left;
}

.template-html-report .project span,
.template-html-report .company span {
  color: #5D6975;
  text-align: right;
  width: 100px;
  margin-right: 10px;
  display: inline-block;
  font-size: 0.8em;
}

.template-html-report .company {
  float: right;
  text-align: left !important;
}

.template-html-report .project div,
.template-html-report .company div {
  white-space: nowrap;
}

.template-html-report table {
  width: 100% !important;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 20px;
}

.template-html-report table tr:nth-child(2n-1) td {
  /*background: #F5F5F5;*/
}

.template-html-report table th,
.template-html-report table td {
  text-align: center;
}

.template-html-report table th {
  padding: 5px 20px;
  color: #5D6975;
  border-bottom: 1px solid #C1CED9;
  white-space: nowrap;
  font-weight: normal;
}

.template-html-report table .service,
.template-html-report table .desc {
  text-align: left;
}

.template-html-report table td {
  padding: 20px;
  text-align: right;
}

.template-html-report table td.service,
.template-html-report table td.desc {
  vertical-align: top;
}

.template-html-report table td.unit,
.template-html-report table td.qty,
.template-html-report table td.total {
  font-size: 1.2em;
}

.template-html-report table td.grand {
  border-top: 1px solid #eaeaea;;
}

.template-html-report .notices .notice {
  color: #5D6975;
  font-size: 1.2em;
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}

.template-html-report footer {
  color: #5D6975;
  width: 100%;
  height: 30px;
  bottom: 0;
  border-top: 0px solid #eaeaea;
  padding: 15px 0;
  text-align: center;
}

.modal-edit-html, .modal-edit-html .modal-content {
  margin: 0;
  max-width: 100%;
  width: 100%;
  height: 100%;
}
email-editor{
  height: 100%;
}
