<ng-container *ngIf="mode === 'page'">
  <app-header [history]="history"></app-header>
  <app-navbar></app-navbar>
  <app-side-bar></app-side-bar>
</ng-container>

<div class="w-100" [ngClass]="{ 'container-row d-flex': mode === 'page' }">
  <ng-container
    *ngTemplateOutlet="loadingAll; context: { loading: loading }"
  ></ng-container>
  <div *ngIf="mode === 'home'" class="col-12 mb-2">
    <b class="text-muted">{{ title }}</b>
  </div>
  <!--  {{data | json}}-->
  <app-list-items
    (cbAdd)="goTo()"
    [(data)]="data"
    [mode]="cbMode"
    [search]="searchTool"
    [customTemplate]="customTemplateSrc"
    (cbPdf)="cbPdf()"
    (cbSrc)="onSrc($event)"
    class="col-12 row m-0 pl-1 pr-1"
  >
  </app-list-items>
  <ng-container
    *ngTemplateOutlet="templateEmpty; context: { data: dataTake }"
  ></ng-container>
</div>

<!-- ************ PAGINATE BUTTON ************  -->
<div *ngIf="viewMore" class="w-100" [style.opacity]="loading ? '0' : '1'">
  <ng-template
    #firstTemplate
    let-disabled="disabled"
    let-currentPage="currentPage"
  >
    <fa-icon [icon]="faAngleDoubleLeft"></fa-icon>
  </ng-template>

  <ng-template
    #lastTemplate
    let-disabled="disabled"
    let-currentPage="currentPage"
  >
    <fa-icon [icon]="faAngleDoubleRight"></fa-icon>
  </ng-template>
  <ng-template
    #prevTemplate
    let-disabled="disabled"
    let-currentPage="currentPage"
  >
    <fa-icon [icon]="faAngleLeft"></fa-icon>
  </ng-template>
  <ng-template
    #nextTemplate
    let-disabled="disabled"
    let-currentPage="currentPage"
  >
    <fa-icon [icon]="faAngleRight"></fa-icon>
  </ng-template>
  <div
    class="pagination-row"
    *ngIf="pagination?.hasPrevPage || pagination?.hasNextPage"
  >
    <pagination
      (pageChanged)="pageChanged($event)"
      [itemsPerPage]="pagination?.limit"
      [customFirstTemplate]="firstTemplate"
      [customLastTemplate]="lastTemplate"
      [customPreviousTemplate]="prevTemplate"
      [customNextTemplate]="nextTemplate"
      [maxSize]="pagination?.limit"
      [totalItems]="pagination?.totalDocs"
    >
    </pagination>
  </div>
</div>

<!-- ************ PAGINATE BUTTON ************  -->

<!-- ***************** TEMPLATE ************** -->
<ng-template #customTemplateSrc let-dat="dat">
  <ul>
    <li
      *ngFor="let inside of dat | async"
      (click)="emitCbClick(inside)"
      class="col-12 row ml-0 mr-0"
    >
      <div class="col-md-10 col-lg-10 col-sm-10 pl-0 pr-0 col-8">
        <div class="d-flex">
          <div class="w-100">
            <div class="name mr-2 ml-1 font-weight-bold">
              {{ inside?.customer?.name }} {{ inside?.customer?.lastName }}
            </div>
            <div class="ml-1 mt-1 badge-zone" *ngIf="inside?.tag?.length">
              <span
                class="badge-tag badge mr-1"
                *ngFor="let tag of inside?.tag"
              >
                {{ tag?.name ? tag?.name : tag }}
              </span>
            </div>
            <div class="ml-1 mt-1">
              <span class="mr-2">
                {{ currencySymbol }} {{ inside?.amount | number: "1.2-2" }}
                {{ currency }}
              </span>
            </div>
          </div>
        </div>
        <div></div>
      </div>
      <div class="col-md-2 col-lg-2 col-sm-2 col-4 pr-0 text-right">
        <div
          class="pt-2 pb-2 d-flex justify-content-end align-content-center align-items-center w-100"
        >
          <div
            [tooltip]="inside?.status"
            containerClass=""
            [ngClass]="{
              'purchase-status-badge-paid': inside.status === 'success',
              'purchase-status-badge-hold': inside.status === 'wait',
              'purchase-status-badge-process': inside.status === 'process',
              'purchase-status-badge-exceptional':
                inside.status === 'exceptional',
              'purchase-status-badge-credit': inside.status === 'credit',
              'purchase-status-badge-pre-paid ': inside.status === 'pre-paid ',
              'purchase-status-badge-delivery-paid':
                inside.status === 'delivery-paid'
            }"
          ></div>
        </div>
        <div class="text-muted">{{ inside?.createdAt | date }}</div>
      </div>
    </li>
  </ul>
</ng-template>
<!-- ***************** FIN TEMPLATE ************** -->
<ng-template #templateEmpty let-data="data">
  <ng-container *ngIf="!loading"
    ><app-box-empty *ngIf="!data?.length"></app-box-empty
  ></ng-container>
</ng-template>
<ng-template #loadingAll let-loading="loading">
  <div *ngIf="loading === true" class="w-100 text-center h-100 loading-wrapper">
    <div class="in">
      <img
        [width]="'5rem'"
        src="../../../../../assets/images/loading-svg.svg"
        alt=""
      />
    </div>
  </div>
</ng-template>
