<form (submit)="onSubmit()" class="form-product w-100 flex-wrap d-flex" [formGroup]="form">
  <div class="col-12 p-0 flex-wrap d-flex">
    <div class="text-right w-100">
      <app-section-btn></app-section-btn>
    </div>

    <div class="custom-card-style col-12 flex-wrap d-flex">
      <div class="col-12 p-0">
        <div class="name">
          <div class="form-group">
            <label>{{"DEPOSITS.NAME" |translate}}</label>
            <input type="text" formControlName="name"
                   class="form-control"
                   placeholder=""></div>
        </div>
      </div>
    </div>
    <div class="custom-card-style col-12 mt-2 flex-wrap d-flex">
      <div class="col-12 p-0">
        <div class="name">
          <div class="form-group">
            <label>{{"DEPOSITS.MANAGER" |translate}}</label>
            <input type="text" formControlName="manager"
                   class="form-control"
                   placeholder=""></div>
        </div>
      </div>
    </div>
    <div class="custom-card-style col-12 mt-2 flex-wrap d-flex">
      <div class="col-12 p-0">
        <div class="name">
          <div class="form-group">
            <label>{{"DEPOSITS.ADDRESS" |translate}}</label>
            <input type="text" formControlName="address"
                   class="form-control"
                   placeholder=""></div>
        </div>
      </div>
    </div>
    <div class="custom-card-style col-12 mt-2 flex-wrap d-flex">
      <div class="col-12 p-0">
        <div class="name">
          <div class="form-group">
            <label>{{"DEPOSITS.PHONE" |translate}}</label>
            <input type="text" formControlName="phone"
                   class="form-control"
                   placeholder=""></div>
        </div>
      </div>
    </div>
    <div class="custom-card-style col-12 mt-2 flex-wrap d-flex">
      <div class="col-12 p-0">
        <div class="name">
          <div class="form-group">
            <label>{{"DEPOSITS.DESCRIPTION" |translate}}</label>
            <input type="text" formControlName="description"
                   class="form-control" aria-describedby="emailHelp"
                   placeholder=""></div>
        </div>
      </div>
    </div>
    <div class="custom-card-style col-12 mt-2 flex-wrap d-flex">
      <div class="col-12 p-0">
        <div class="name">
          <div class="form-group">
            <label>{{"DEPOSITS.TAG" |translate}}</label>
            <input type="text" formControlName="tag"
                   class="form-control" aria-describedby="emailHelp"
                   placeholder=""></div>
        </div>
      </div>
    </div>
  </div>
</form>
