<ng-container *ngTemplateOutlet="loadingAll;context:{loading:loading}"></ng-container>
<div>
  <div class="alert-error" *ngIf="error?.msg">
    {{error?.msg}}
  </div>
  <div>
    <div class="container pt-2">

      <form [autocomplete]="'off'" [formGroup]="form" (submit)="beginProcess()">
        <div class="form-group">
          <label>{{'CARD.CARD_PLACEHOLDER' |translate}}</label>
          <input type="text" formControlName="placeholder" class="form-control"
                 placeholder="">
        </div>

        <div class="form-group">
          <label>{{'CARD.CARD_NUMBER' |translate}}</label>
          <div id="card_number" class="stripe-element form-control"></div>
        </div>

        <div class="d-flex col-12 row p-0 list-inputs-card">
          <div class=" form-group col-6">
            <label>{{'CARD.CARD_CVC' |translate}}</label>
            <div id="card_cvc" class="stripe-element form-control"></div>
          </div>
          <div class="form-group col-6 ">
            <label>{{'CARD.CARD_EXP' |translate}}</label>
            <div id="card_exp" class="stripe-element form-control"></div>
          </div>
        </div>
        <hr>
        <div class="form-group text-center mb-0 ">
          <button ngxLoading [disabled]="loading" [loadingFlag]="loading" [textInitial]="'Continue'"
                  [textLoading]="'GENERAL.LOADING' | translate"
                  class="btn  btn-primary">
          </button>
          <!--          <button type="button"-->
          <!--                  class="text-muted btn btn-lg btn-default">{{'GENERAL.SKIP' | translate}}</button>-->
        </div>

        <div class="pl-0 pr-0 pt-2 pb-2 text-center">
          <small class="text-muted" [innerHTML]="'CARD.FOOTER' | translate"></small>
        </div>
      </form>


    </div>
  </div>
</div>

<ng-template #loadingAll let-loading="loading">
  <div *ngIf="loading === true" class="w-100 text-center h-100 loading-wrapper">
    <div class="in">
      <img [width]="'5rem'" src="../../../assets/images/loading-svg.svg" alt="">
    </div>
  </div>
</ng-template>
