<app-header [history]="history"></app-header>
<app-side-bar></app-side-bar>
<ng-container *ngTemplateOutlet="loadingAll;context:{loading:loading}"></ng-container>
<div class="container-grapes  d-flex w-100 h-100vh">
  <div class="h-100 w-100">
    <div #gjsElement id="gjs">
    </div>
  </div>
</div>


<div class="tooltip-zone position-absolute" *ngIf="!htmlEditService.tooltipVideo">
  <div class="popover-zone d-flex  ">

    <div class="block-zone pl-2 pr-2">
     <div class="pb-2 d-flex align-items-center align-content-center">
       <span class="brand-color"></span>
       <span class="pl-1 pr-1">
         {{'SETTINGS.HTML_BUILDER.TOOLTIP.LEGEND' | translate}}
         <span class="font-weight-bold">{{'SETTINGS.HTML_BUILDER.TOOLTIP.UNAVAILABLE' | translate}}</span>
       </span>
     </div>
      <div (click)="videoHelpService.open({url:htmlEditService.listVideos.builderHtml})"
           class="small cursor-pointer"
           [innerHTML]="'SETTINGS.HTML_BUILDER.TOOLTIP.TEXT' | translate">
      </div>

    </div>
    <div class="p-1 cursor-pointer font-weight-bold" (click)="htmlEditService.tooltipVideo = !htmlEditService.tooltipVideo" >
      <fa-icon [icon]="faTimes"></fa-icon>
    </div>
  </div>
</div>

<ng-template #loadingAll let-loading="loading">
  <div *ngIf="loading === true" class="w-100 text-center h-100 loading-wrapper">
    <div class="in">
      <img [width]="'5rem'" src="../../../../../assets/images/loading-svg.svg" alt="">
    </div>
  </div>
</ng-template>
