<div class="row m-0 col-12 p-0">
  <div class="border-right-color col-sm-12 col-md-12 col-lg-4">
    <div class="login-section">
      <div class="title-section animate__animated animate__fadeInDown">
        <h1 class="title">{{"REGISTER.WELCOME" | translate}}</h1>
        <span class="text-muted">{{"REGISTER.SUB_TITLE" |translate}}</span>
      </div>
      <form class="animate__animated animate__fadeInDown" [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off">
        <div class="form-group">
          <label for="exampleInputName1">{{"REGISTER.FORM.NAME" |translate}}</label>
          <input type="text" class="form-control"
                 formControlName="name"
                 id="exampleInputName1" aria-describedby="nameHelp"
                 placeholder="">
          <small class="form-text text-muted">{{"REGISTER.FORM.NAME_PLACEHOLDER" |translate}}</small>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">{{"REGISTER.FORM.EMAIL" |translate}}</label>
          <input type="text" class="form-control"
                 formControlName="email"
                 id="exampleInputEmail1" aria-describedby="emailHelp"
                 placeholder="">
          <small class="form-text text-muted">{{"REGISTER.FORM.EMAIL_PLACEHOLDER" |translate}}</small>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">{{"REGISTER.FORM.PASSWORD" |translate}}</label>
          <div class="position-relative">
            <input [type]="(!showPass) ? 'password' : 'text'"
                   formControlName="password"
                   class="form-control" id="exampleInputPassword1" placeholder="">
            <span class="wrapper-show-pass" (click)="showPass = !showPass">
            <fa-icon *ngIf="!showPass" [icon]="faEye"></fa-icon>
            <fa-icon *ngIf="showPass" [icon]="faEyeSlash"></fa-icon>
          </span>
          </div>
          <small class="form-text text-muted">{{"REGISTER.FORM.PASSWORD_PLACEHOLDER" |translate}}</small>

        </div>
        <div class="form-group">
          <label for="inputTenant">{{"REGISTER.FORM.WORK_SPACE" |translate}}</label>
          <div class="position-relative">
            <input type="text"
                   readonly
                   formControlName="tenant"
                   class="form-control" id="inputTenant" placeholder="">
            <span class="wrapper-show-tenant">.{{domain}}</span>
            <!-- <span *ngIf="!form.pending" class="input-group-text" id="basic-addon2">.{{domain}}</span> -->
          </div>
          <small class="form-text text-muted">{{"REGISTER.FORM.WORK_SPACE_PLACEHOLDER" |translate}}</small>

        </div>
        <button [disabled]="!form.valid" ngxLoading [loadingFlag]="loading"
                [textInitial]="'LOGIN.FORM.SEND' | translate"
                [textLoading]="'GENERAL.LOADING_SINGLE' | translate"
                type="submit" class="btn btn-primary hvr-grow btn-radius btn-block"></button>
      </form>
    </div>
  </div>
  <div class="col-8 img-section d-none d-sm-none d-md-none d-lg-block">
    <div class="text-center d-block m-auto">
      <ng-lottie width="50%" [options]="options" (animationCreated)="animationCreated($event)"></ng-lottie>
    </div>
  </div>
</div>
