<ngx-dropzone
  class="drop-gallery mt-3"
  [accept]="'image/png,image/jpeg,image/jpg'"
  (change)="onSelect($event)">
  <ngx-dropzone-label>
    <div class="d-flex flex-column align-items-center">
      <div class="label">{{ "GENERAL.DROP" | translate }}</div>
      <div class="label">
        <small>{{ "GENERAL.FILES_ALLOW" | translate }}</small>
      </div>
      <div>
        <ng-lottie
          class="margin-auto"
          width="100px"
          [options]="options"
          (animationCreated)="animationCreated($event)"
        >
        </ng-lottie>
      </div>
    </div>
  </ngx-dropzone-label>
  <ngx-dropzone-preview
    [style.backgroundImage]="'url(' + parseImage(f)+ ')'"
    *ngFor="let f of media?.files;let index = index"
    [removable]="true"
    (removed)="onRemove(f, index)">


    <ngx-dropzone-label  (click)="viewImage($event, f)">

      <div class="zoom-icon">
        <div>
          <fa-icon
            [style.color]="'white'"
            [icon]="faHandPointer"
            size="lg"
          ></fa-icon>
        </div>
      </div>
    </ngx-dropzone-label>
  </ngx-dropzone-preview>
</ngx-dropzone>
