<div class="items w-100">
  <div *ngIf="search" class="header d-flex justify-content-between">
    <div>
      <div *ngIf="title" class="title">
        {{title}}
      </div>
      <div>
        <input type="text"
               [(ngModel)]="src"
               (ngModelChange)="onChange($event)"
               placeholder="Buscar"
               class="form-control input-date input-src">
        <!--        <small class="text-muted">Mayo 20, 2020</small>-->
      </div>
    </div>
    <div class="text-right">
      <button (click)="callbackAdd()" type="button" class="btn btn-primary btn-radius btn-sm">
        <fa-icon [icon]="faPlus"></fa-icon>
      </button>
    </div>
  </div>

  <!--- TEMPLATE ---->
  <ng-template #viewContainerCustom>
  </ng-template>
  <!--- END TEMPLATE ---->

  <div *ngIf="!data?.length  && (showIcon)">
    <div class="text-center" *ngIf="mode === 'working'">
      <app-working-box></app-working-box>
    </div>
    <div class="text-center" *ngIf="!mode">
      <app-box-empty></app-box-empty>
    </div>
    <div class="text-center" *ngIf="mode === 'blocked'">
      <app-locked-box></app-locked-box>
    </div>
  </div>

  <!--- TEMPLATE VIEW MORE ---->
  <ng-template *ngIf="data?.length" #viewMoreContainer>
  </ng-template>
  <!--- END TEMPLATE ---->

</div>


<!-- TEMPLATE -->
<ng-template #defaultCustom>
  <ul *ngIf="data?.length">
    <li *ngFor="let inside of data" class="d-flex item-list-single justify-content-between">
      <div class="d-flex">
        <div>
          <img class="avatar"
               src="https://images.unsplash.com/photo-1506919258185-6078bba55d2a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=80"
               alt="">
        </div>
        <div class="pl-2 pr-2 pt-1 pb-1">
          <h6 class="name">{{inside?.name}}</h6>
          <div class="d-flex pt-1">
            <span
              [ngClass]="{
              'badge-green':(inside?.status === 'paid'),
              'badge-blue':(inside?.status === 'process'),
              'badge-purple':(inside?.status === 'exceptional'),
              'badge-orange':(inside?.status === 'hold')
              }"
              class="badge text-uppercase mr-2">
              {{inside?.status}}
            </span>
            <span
              [ngClass]="{
              'badge-red':(inside?.delivery === 'today'),
              'badge-red-1':(inside?.delivery === 'tomorrow')
              }"
              class="badge text-uppercase mr-2">

              <fa-icon
                *ngIf="inside?.delivery === 'today'"
                [icon]="faCalendarCheck"></fa-icon>
                <fa-icon
                  *ngIf="inside?.delivery === 'tomorrow'"
                  [icon]="faCalendarAlt"></fa-icon>
              {{inside?.delivery}}
            </span>
          </div>
        </div>
      </div>
      <div class="text-right">
        <div>
          <b class="price-main">$ 100.00</b>
        </div>
        <div>
          <small class="text-muted">SO-00001</small>
        </div>
      </div>
    </li>
  </ul>
</ng-template>
