<div class="col-12 row m-0 p-0">
  <ng-container *ngTemplateOutlet="addPayment;context:{payments:paymentMethod}"></ng-container>

  <ul class="item-list col-12 d-flex" *ngIf="paymentMethod?.length">
    <li class="col-lg-3 pl-0 col-md-4 col-sm-12" (click)="open(item)" *ngFor="let item of paymentMethod">
        <ng-container *ngTemplateOutlet="cardRef;context:{item:item}"></ng-container>
    </li>
  </ul>
</div>


<ng-template #addPayment let-payments="payments">
  <div *ngIf="!payments?.length" class="col-12 col-lg-3 p-0">
    <div class="item-add-on">
      <div class="p-4 d-flex flex-column justify-content-between h-100">
        <div class="  text-center">
          <button (click)="openCard()" class="btn btn-default mr-2">
            <fa-icon [icon]="faPlus"></fa-icon>
            <span class="pl-1">{{'PAYMENT.ADD' |translate}}</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #cardRef let-item="item">
  <div class="item-add-on">
    <div class="pt-3 pr-1 pb-1 pl-1 d-flex flex-column justify-content-between h-100">
      <div class="d-flex justify-content-between">
        <div class="w-100 ">
          <h5 class="truncate"><b>{{item?.cardPlaceholder}}</b></h5>
          <div class="text-muted">**** **** **** {{item?.cardNumber}}</div>
          <div class="text-muted">{{item?.cardEpx}}</div>
        </div>
        <div>
          <img *ngIf="item?.brand === 'Visa'" class="logo-card" src="../../../assets/images/visa.svg" alt="">
          <img *ngIf="item?.brand !== 'Visa'" class="logo-card" src="../../../assets/images/mastercard.svg" alt="">
        </div>

      </div>
<!--      <div class="pt-2 ">-->
<!--        <div class="btn btn-default mr-2">{{'PAYMENT.REMOVE' |translate}}</div>-->
<!--        <div class="btn btn-default mr-2">{{'PAYMENT.REMOVE' |translate}}</div>-->
<!--      </div>-->
    </div>
  </div>
</ng-template>

