
.item-add-on {
  cursor: pointer;
  background-color: white;
  padding: .5rem .5rem;
  font-size: var(--font-size-2);;
  border-radius: var(--border-radius-35);
  margin-top: .8rem;
  box-shadow: var(--box-shadow);
}

.item-list {
  list-style: none;
  margin: 0;
  flex-wrap: wrap;
  padding: 0;
}

.item-list .description {
  max-height: 65px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.item-add-on:hover {
  -webkit-transition: all 100ms;
  -moz-transition: all 100ms;
  -o-transition: all 100ms;
  transition: all 100ms;
  transform: scale(1.03);
  z-index: 9;
}

.item-add-on .cover {
  width: 100px;
  border-radius: var(--border-radius-35);
  height: 100px;
  object-fit: cover;
}

.icon-addons {
  background-color: #E2F2FF;
  width: 45px;
  height: 45px;
  border-radius: 4rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-addons fa-icon {
  color: #01B1FF;
}

.badge-price {
  padding: .35rem;
  font-size: .85rem;
  font-weight: 600;
  color: white;
  border-radius: var(--border-radius-75);
  background-color: var(--bg-success);
}

.logo-card{
  width: 50px;
  object-fit: contain;
}
