<app-header [history]="history"></app-header>
<app-side-bar></app-side-bar>
<div class="container-row d-flex">
  <app-list-items
    (cbAdd)="goTo()"
    [(data)]="data"
    [mode]="cbMode"
    [customTemplate]="customTemplateSrc"
    (cbSrc)="onSrc($event)"
    class="col-12 row m-0 pl-2 pr-4">
  </app-list-items>

</div>

<!-- ************ PAGINATE BUTTON ************  -->

<div *ngIf="viewMore" class="w-100">
  <div (click)="paginate()" class="col-12 text-center p-4 d-flex justify-content-center">
    <button type="button" class="btn btn-paginate btn-view-more">{{'GENERAL.VIEW_MORE'|translate}}</button>
  </div>
</div>

<!-- ************ PAGINATE BUTTON ************  -->

<!-- ***************** TEMPLATE ************** -->
<ng-template #customTemplateSrc let-dat='dat'>
  <ul [@listAnimation] *ngIf="dat?.length">
    <li *ngFor="let inside of dat" [routerLink]="['/','deposits',inside?._id]"
        class="d-flex item-list-single justify-content-between">
      <div class="d-flex">
        <div>
          <ngx-avatar *ngIf="inside?.name" [name]="inside.name"></ngx-avatar>
        </div>
        <div class="pl-2 pr-2 pt-1 pb-1">
          <div class="d-flex">
            <h6 class="name mr-2">{{inside?.name}}</h6>
            <span class="badge-tag badge mr-1" *ngFor="let tag of inside?.tag">
              {{tag?.name}}
            </span>
          </div>
          <div class="d-flex pt-1">
            <span class="text-muted">
              {{inside?.address}}
            </span>
          </div>
        </div>
      </div>
      <div class="text-right">
        <div>
          <b class="price-main">{{inside?.manager?.name}} {{inside?.manager?.lastName}}</b>
        </div>
        <div>
          <span class="text-muted">
            <span class="pr-1">
                <fa-icon [icon]="faPhoneAlt"></fa-icon>
              </span>
            {{inside?.phone}}
          </span>
        </div>
      </div>
    </li>
  </ul>
</ng-template>
<!-- ***************** FIN TEMPLATE ************** -->
