/* ----------- Galaxy S3 ----------- */

/* Portrait and Landscape */
@media screen
and (min-width: 320px)
and (max-width: 768px) {
  .container-row {
    padding: 4rem 0rem 1rem 4rem;
  }

  .container-wrapper {
    padding-left: .25rem !important;
    padding-right: .25rem !important;
  }

  .container-wrapper .col-12 {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }

  .container-row .items-wrapper {
    padding-left: .25rem !important;
    padding-right: .25rem !important;
  }

  .btn-default-trash{
    position: absolute !important;
    right: 0 !important;
    margin-top: 30px !important;
  }

}
