/* You can add global styles to this file, and also import other style files */
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;1,400;1,500&display=swap');

body {
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 400;
  background-color: #F6F5FA;
  font-size: .85rem;
  text-rendering: optimizeLegibility;
}

.container-row {
  padding: 1rem 5.5rem 1rem;
}

.customToolTip .tooltip-inner {
  background-color: #221ECD;
  color: #fff;
  font-weight: 400;
  letter-spacing: .5px;
  font-size: .75rem;
  box-shadow: 0 0 5px rgba(55, 51, 209, 0.56);
}

.customToolTip .tooltip.top .tooltip-arrow:before,
.customToolTip .tooltip.top .tooltip-arrow {
  border-top-color: #221ECD;
}

.customToolTip .arrow::before, .customToolTip .arrow::before {
  border-right-color: #221ECD;
}

::-webkit-input-placeholder { /* Edge */
  color: #E1DFEA !important;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #E1DFEA !important;
}

::placeholder {
  color: #E1DFEA !important;
}

.btn-radius {
  border-radius: 1rem !important;
}

.btn-primary {
  background-color: #221ECD !important;
}
.detail-invoice .nav-tabs{
  border-bottom: 0px !important;
}
.detail-invoice .tab-content{
  padding: 1rem;
}
