@import "~@ng-select/ng-select/themes/default.theme.css";
@import "~@swimlane/ngx-datatable/index.css";
@import "~@swimlane/ngx-datatable/themes/material.css";
@import "~@swimlane/ngx-datatable/assets/icons.css";

:root {
  --main-color: white;
  --main-color-1: #0c2ccc;
  --main-color-2: #d5cef9;
  --main-color-3: #f1f1f1;
  --main-color-4: #f3f3f3;
  --border-radius-35: 0.15rem;
  --border-radius-75: 0.3rem;
  --font-family: "Hind Siliguri", sans-serif;
  --font-size: 1rem;
  --font-size-1: 0.9rem;
  --font-size-2: 0.85rem;
  --font-size-3: 0.75rem;
  --border-color: #ffcdab;
  --border-color-1: #f1f1f4;
  --border-color-2: #2b54b7;
  --border-color-3: #222222;
  --border-color-4: #d0d0d0;
  --border-color-5: #ff686b;
  --border-color-6: #e9ecef;
  --border-color-7: #90b973;
  --bg-success: #06d6a0;
  --bg-danger: #ef476f;
  --text-color: #343a40;
  --text-color-1: #212529;
  --text-color-2: #6c757d;
  --text-color-3: #adb5bd;
  --box-shadow: 0px 0px 10px #e8e8e8b8;
  --box-shadow-1: 0px 0px 10px #e0e0e061;
  --filter-shadow: drop-shadow(0px 9px 20px rgba(0, 0, 0, 0.1));
  --zoneColor: rgba(255, 255, 255, 0.8) !important;
  --animate-duration: 350ms;
  --animate-delay: 0.4s;
}

body {
  font-family: var(--font-family) !important;
  font-weight: 400;
  background-color: var(--main-color-4);
  font-size: var(--font-size);
  text-rendering: optimizeLegibility;
}

*,
*:focus,
*:hover {
  outline: none;
}

b {
  font-weight: 500;
}

a {
  color: var(--main-color-1);
}

.tooltip {
  pointer-events: none !important;
}

.loading-wrapper {
  left: 0;
  top: 0;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 99;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.loading-wrapper .in img {
  width: 5rem;
  height: 5rem;
  object-fit: contain;
}

::-webkit-scrollbar {
  width: 5px; /* Tamaño del scroll en vertical */
  height: 8px; /* Tamaño del scroll en horizontal */
  display: none; /* Ocultar scroll */
}

.btn-default {
  border-radius: var(--border-radius-35);
  background-color: white;
  border: solid 1px var(--border-color-6);
  filter: var(--filter-shadow);
}

.cursor-pointer {
  cursor: pointer;
}

.container-row {
  padding: 4.5rem .5rem 1rem 4.5rem;
  flex-wrap: wrap;
  align-content: baseline;
  position: relative;
  width: 100%;
  min-height: calc(100vh - 65px);
}

ngx-funny-datepicker .calendar .footer-calendar {
  font-family: var(--font-family) !important;
  font-size: var(--font-size-2) !important;
}

ngx-funny-datepicker .calendar {
  z-index: 10;
}

.mat-tab-label {
  font-family: var(--font-family);
  font-size: var(--font-size-2);
  font-weight: 600;
  justify-content: start !important;
  height: 40px !important;
  padding: 0 10px !important;
}

.mat-tab-body-wrapper {
  height: 100%;
}

.copilot-img img {
  margin-top: 1rem;
  width: 15rem;
  height: 10rem;
  object-fit: contain;
}

.unlayer-editor .blockbuilder-branding {
  display: none !important;
  opacity: 0 !important;
}

.avatar-container .avatar-content {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 5px;
}

.bs-datepicker-container {
  filter: var(--filter-shadow);
}

.customClass {
  position: fixed;
}

.copilot-custom {
  border: solid 1px var(--border-color-6);
  margin-top: 2rem;
  font-family: var(--font-family) !important;
  border-radius: var(--border-radius-35) !important;
  background-color: white !important;
  color: var(--text-color) !important;
}

.copilot-custom h4 {
  font-weight: 600;
}

bs-tooltip-container {
  pointer-events: auto !important;
}

.ng-dropdown-panel.ng-select-bottom
  .ng-dropdown-panel-items
  .ng-option:last-child {
  border-left: solid 1px var(--border-color-6);
  border-right: solid 1px var(--border-color-6);
  border-bottom: solid 1px var(--border-color-6);
}

.ng-option-marked,
.ng-option {
  border-left: solid 1px var(--border-color-6) !important;
  border-right: solid 1px var(--border-color-6) !important;
}

.ng-dropdown-panel-items {
  box-shadow: var(--box-shadow) !important;
}

.form-control.ng-select-opened .ng-select-container .ng-value {
  opacity: 0.3;
}

.ng-dropdown-panel-items {
  box-shadow: var(--box-shadow);
}

.ng-select .ng-select-container:hover {
  box-shadow: 0 0 0 transparent !important;
}

.footer-options {
  background: white;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: solid 1px var(--border-color-6);
  box-shadow: var(--box-shadow-1);
  padding: 0.75rem 0.75rem 0.75rem 5rem;
}

.btn-copilot {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.5);
  border: 0;
  border-radius: 0.25rem;
  color: white;
}

.btn-copilot:hover {
  transform: scale(1.05);
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  display: block !important;
  text-overflow: ellipsis;
}

::-webkit-input-placeholder {
  /* Edge */
  color: #e1dfea !important;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #e1dfea !important;
}

::placeholder {
  color: #e1dfea !important;
}

.font-size-1 {
  font-size: var(--font-size-1);
}

.font-size-2 {
  font-size: var(--font-size-2);
}

.font-size-3 {
  font-size: var(--font-size-3);
}

.btn-radius {
  border-radius: var(--border-radius-75) !important;
}

.btn-primary {
  background-color: var(--main-color-1) !important;
  color: white !important;
  filter: var(--filter-shadow);
  border: solid 1px var(--main-color-1);
}

.detail-invoice .nav-tabs {
  border-bottom: solid 1px #f2f3fd;
  padding-bottom: 0.75rem;
  padding-top: 0.5rem;
}

.hvr-grow {
  transition-duration: 0.1s;
}

.detail-invoice .tab-content {
  padding: 1rem 0.25rem;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  border-color: transparent;
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
  /*padding: .35rem .65rem;*/
  background-color: var(--main-color-2);
  border-radius: var(--border-radius-35);
  color: var(--main-color-1);
  border-color: transparent;
  -webkit-transition: all 100ms;
  -moz-transition: all 100ms;
  -o-transition: all 100ms;
  transition: all 100ms;
}

.nav-link {
  padding: 0.25rem;
  font-size: var(--font-size-2);
}

.nav-tabs .nav-item {
  margin-right: 1rem;
  font-weight: 600;
}

.theme-green {
  background-color: transparent;
}

.ngx-wrapper-overview .copilot-view {
  top: 0 !important;
  max-width: 100% !important;
  left: 0 !important;
  margin-left: 0 !important;
  color: var(--text-color-1) !important;
  background-color: transparent !important;
  width: 100% !important;
  filter: var(--filter-shadow) !important;
}

.copilot-inside-wrapper {
  border-radius: var(--border-radius-35) !important;
  background-color: white;
}

.theme-green .bs-calendar-container {
  background-color: white;
  box-shadow: 0 0 20px #dddee2;
  border: solid 1px #efefef;
}

.bs-datepicker {
  box-shadow: 0 0 0 transparent;
}

.theme-green .bs-datepicker-head,
.theme-green .bs-datepicker-body table td span.selected {
  background-color: #221cc5;
}

.theme-green .bs-datepicker-body table td.week span {
  color: #221cc5;
}

.text-primary {
  color: var(--main-color-1) !important;
}

.img-section .margin-auto {
  margin: auto;
  display: inline-table;
}

.img-section ng-lottie div {
  margin: auto !important;
}

/**
Style
 */

.custom-card-style {
  background-color: white;
  padding: 0.5rem 1rem;
  font-weight: 600;
  font-size: var(--font-size-1);
  letter-spacing: 0.6px;
  border-left: solid 1px var(--border-color-6);
  border-right: solid 1px var(--border-color-6);
  box-shadow: var(--box-shadow);
  margin-top: 0 !important;
}

.alert-warning {
  background-color: #fff5d7;
  padding: 0.5rem 1rem;
  border-radius: var(--border-radius-35);
  font-weight: 600;
  font-size: var(--font-size-1);
  letter-spacing: 0.6px;
  box-shadow: 1px 3px 0px #ffc107;
}

.NgxEditor-Wrapper {
  overflow: auto;
  height: 30rem;
  border: 0px solid rgba(0, 0, 0, 0.2) !important;
}

.NgxEditor-Wrapper-full-width {
  position: fixed;
  top: 0;
  /* background: red; */
  z-index: 99;
  left: 0;
  height: 100%;
  padding: 2rem 0.5rem 0rem 0.5rem;
}

tag {
  border-radius: var(--border-radius-35) !important;
  font-family: var(--font-family) !important;
}

.chip-price tag {
  background-color: #d4cdfd !important;
}

.chip-price tag:hover {
  box-shadow: 2px 3px 3px 0px #eaebf3 !important;
}

.ng-select .ng-select-container {
  border: 0 !important;
}

.btn-secondary {
  background-color: #d4cdfd !important;
  border: solid 0px #221ece !important;
}

input.form-control.ng-invalid.ng-touched,
.ng-invalid-red.ng-touched.ng-invalid,
.ng-invalid.ng-touched.ng-invalid > .ql-container,
.ng-invalid.ng-touched.ng-invalid > tag-input-form {
  border: solid 1px var(--border-color-5) !important;
  box-shadow: 0px 0px 0px var(--border-color-5);
  border-radius: var(--border-radius-35) !important;
  background-color: #fff2f4 !important;
}

.ng-select.ng-touched.ng-touched.ng-invalid {
  border: solid 1px var(--border-color-5) !important;
  box-shadow: 0px 0px 0px var(--border-color-5);
  border-radius: var(--border-radius-35) !important;
  background-color: #fff2f4 !important;
}

/**

 */

input.form-control.ng-valid.ng-touched,
.ng-touched.ng-valid > .ql-container,
.ng-touched.ng-valid > tag-input-form {
  border: solid 1px var(--border-color-7) !important;
  box-shadow: 0px 0px 0px var(--border-color-7);
  border-radius: var(--border-radius-35) !important;
  background-color: #f3ffed !important;
}

.ng-select.ng-touched.ng-touched.ng-valid {
  border: solid 1px var(--border-color-7) !important;
  box-shadow: 0px 0px 0px var(--border-color-7);
  border-radius: var(--border-radius-35) !important;
  background-color: #f3ffed !important;
}

tag-input-form input {
  background-color: transparent !important;
}

.custom-card-style-section {
  padding-bottom: 1rem;
  padding-top: 0;
}

.custom-card-style-section .tabs {
  display: flex;
  justify-content: space-between;
}

.badge-zone {
  max-height: 20px;
  overflow: hidden;
}

h6.name {
  white-space: nowrap;
  overflow: hidden;
  display: block !important;
  text-overflow: ellipsis;
}

.btn-round {
  cursor: pointer;
  background-color: white;
  border: 0;
  width: 45px;
  height: 45px;
  border-radius: 4rem;
  font-size: var(--font-size-2);
  text-align: center;
}

.btn-shadow {
  box-shadow: 0 0 15px rgba(179, 186, 204, 0.6);
}

.filter-dropdown {
  padding: 0 0.25rem 0.75rem !important;
  border: solid 1px #e8e8e8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.12);
  height: auto !important;
  max-height: 290px;
  overflow-y: auto;
}

.filter-dropdown .item-list-filter {
  border: solid 0px #f1f1f1;
  box-shadow: 0 0 0;
  border-radius: 0;
}

.items ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.items ul li {
  cursor: pointer;
  background-color: white;
  padding: 0.15rem 0.5rem;
  font-size: var(--font-size-2);
  border-radius: 0;
  margin-top: 0rem;
  box-shadow: var(--box-shadow-1);
  min-height: 75px;
  display: flex;
  border-left: solid 1px var(--border-color-6);
  border-right: solid 1px var(--border-color-6);
  align-items: center;
}

.items ul li .avatar {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 5rem;
  border: solid 2px #eeeff6;
}

.items .item-list-single:hover .badge-tag {
  background-color: transparent;
  color: white !important;
  border-color: white !important;
}

.items ul li .name {
  font-size: var(--font-size-2) !important;
  font-weight: 500;
  color: var(--text-color);
  margin-bottom: 0;
  display: flex;
  align-items: center;
}

.items ul li:hover {
  z-index: 9;
  color: white;
  background-color: var(--main-color-1);
  -webkit-transition: all 100ms;
  -moz-transition: all 100ms;
  -o-transition: all 100ms;
  transition: all 100ms;
}

.items ul li:hover .badge-tag-price {
  color: white;
}

.items ul li:hover .name {
  color: white;
}

.items ul li:hover .price-main,
.items ul li:hover .text-muted,
.items ul li:hover .badge-green,
.items ul li:hover .arrow-icon-colors-up,
.items ul li:hover .arrow-icon-colors-down,
.items ul li:hover .text-hover {
  color: rgba(255, 255, 255, 0.8) !important;
}

.items ul li .avatar {
  border: solid 2px rgba(255, 255, 255, 0.42);
}

.ng2-tag-input.ng2-tag-input--focused {
  border-bottom: 2px solid #ddd8ee !important;
}

.ng-select-container {
  background-color: transparent !important;
}

.modal-backdrop {
  background-color: rgba(0, 0, 0, 0.33);
}

.modal-backdrop.show {
  opacity: 0.7;
}

.modal-light-plan {
  max-width: 700px;
}

.modal-profile-small {
  max-width: 500px;
}

.modal-profile-small .modal-content {
  border-radius: var(--border-radius-35);
  min-height: 10rem;
  box-shadow: 1px 3px 17px rgba(110, 110, 110, 0.32);
  padding: 0.5rem;
  border: solid 1px #f6f6f6;
}

.modal-light-upgrade {
  max-width: 600px;
}

.modal-light-upgrade .modal-content {
  border-radius: var(--border-radius-35);
  min-height: 10rem;
  box-shadow: 1px 3px 17px rgba(110, 110, 110, 0.32);
  padding: 0.5rem;
  border: solid 1px #f6f6f6;
}

.modal-light-plan .modal-content {
  border-radius: var(--border-radius-35);
  min-height: 5rem;
  box-shadow: 1px 3px 17px rgba(110, 110, 110, 0.32);
  padding: 0.5rem;
  border: solid 1px #f6f6f6;
}

.badge-tag {
  border: solid 1px var(--border-color);
  border-radius: var(--border-radius-35);
  padding: 0.175rem 0.25rem;
  background-color: rgba(255, 255, 255, 0.8);
  font-weight: 600;
  text-align: center;
  color: #737373;
  max-height: 18px;
}

.badge-prices {
  border: solid 1px #eaeaea;
  border-radius: var(--border-radius-35);
  padding: 0.15rem 0.25rem;
  background-color: rgba(255, 255, 255, 0.8);
  font-weight: 600;
  text-align: center;
  color: #737373;
}

.cal-month-view .cal-open-day-events {
  color: var(--text-color);
  background-color: var(--main-color-3);
  box-shadow: inset 0 0 15px 0 rgba(0, 0, 0, 0);
}

.cal-month-view .cal-event {
  width: 8px;
  height: 8px;
}

.form-control:disabled,
.form-control[readonly] {
  background-color: #f7f7f7;
}

.h-0 {
  height: 0 !important;
}

.form-control:focus {
  border-radius: var(--border-radius-35);
  box-shadow: 0 0 0 2px rgba(34, 30, 203, 0.35);
}

.description-card .ql-snow {
  border: solid 0px red !important;
}

.item-list-single .arrow-icon-colors-up {
  color: #2ca42e;
}

.item-list-single .arrow-icon-colors-down {
  color: #ec3552;
}

.badge-tag-price {
  background: transparent;
  padding: 0.175rem 0.4rem;
  border: solid 1px #e8e8e8;
}

.drop-gallery {
  background-color: white;
  padding: 0.5rem 1rem;
  border-radius: var(--border-radius-35) !important;
  font-weight: 600;
  font-size: 0.9rem;
  letter-spacing: 0.6px;
  border: 0 !important;
  box-shadow: var(--box-shadow);
  min-height: 540px;
  align-items: flex-start !important;
  flex-wrap: wrap;
}

.drop-gallery .label {
  opacity: 0.6;
}

.drop-gallery .img-preview {
  width: 100%;
  height: 100px;
  object-fit: cover;
}

.drop-gallery ngx-dropzone-preview {
  padding: 0 !important;
  margin: 3px !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 120px !important;
  border-radius: var(--border-radius-35);
  min-width: 120px !important;
  background-color: var(--main-color-4);
}

.ng-dropdown-panel-items {
  font-weight: 500;
}

.drop-gallery ngx-dropzone-preview:hover ngx-dropzone-label .zoom-icon {
  display: block;
}

.drop-gallery ngx-dropzone-preview:hover ngx-dropzone-label {
  background-color: rgba(203, 202, 210, 0.59);
  box-shadow: 0 0 9px rgba(100, 99, 138, 0.86);
}

.drop-gallery ngx-dropzone-label img {
  width: 100px;
}

.small,
small {
  font-size: 90%;
}

.zoom-icon {
  display: none;
  opacity: 0.7;
}

.ng-dropdown-panel {
  animation: growDown 100ms ease-in-out forwards;
  transform-origin: top center;
  border: 0 !important;
}

@keyframes growDown {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}

.ng-dropdown-panel.ng-select-bottom {
  border-top-color: #ffffff;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked {
  background-color: var(--main-color-2);
  color: var(--text-color);
}

ngx-dropzone-remove-badge {
  background-color: rgb(34, 30, 205) !important;
}

ngx-dropzone-label {
  vertical-align: middle;
  display: flex;
  padding: 1.5rem;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius-35);
  -webkit-transition: all 100ms;
  -moz-transition: all 100ms;
  -o-transition: all 100ms;
  transition: all 100ms;
}

.swal2-container.swal2-backdrop-show,
.swal2-container.swal2-noanimation {
  background: rgba(255, 255, 255, 0.7) !important;
}

.swal2-actions {
  padding-bottom: 0.5rem;
}

.overlay-loading {
  background: -webkit-radial-gradient(
    50% 50%,
    circle,
    #ffffffc9 182px,
    rgba(201, 198, 249, 0.2) 240px
  );
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 99999;
  display: flex;
  top: 0;
  justify-content: center;
  align-items: center;
  -webkit-transition: all 100ms;
  -moz-transition: all 100ms;
  -o-transition: all 100ms;
  transition: all 100ms;
}

.overlay-loading .in {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-50,
.img-50 img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: var(--border-radius-75) !important;
}

.dropdown-item {
  font-size: 0.85rem;
}

.modal-light-zoom .modal-content {
  border: 0 !important;
}

.modal-light-zoom .author {
  position: absolute;
  font-size: 0.7rem;
  padding: 0.25rem 0.2rem;
  opacity: 0.7;
}

.swal2-show {
  box-shadow: 0 0 20px rgba(103, 103, 120, 0.45);
  padding: 0 !important;
}

.swal2-content,
.swal2-footer {
  font-size: var(--font-size-2) !important;
}

.swal2-footer {
  padding: 1em !important;
}

.swal2-header {
  padding: 1em 0em 0em !important;
}

.list-swipe {
  font-family: var(--font-family);
  background-color: #f6f5fa;
  font-size: var(--font-size-2) !important;
  text-rendering: optimizeLegibility;
  margin: 0 !important;
  padding: 0 !important;
  box-shadow: 0 0 0 !important;
}

.list-swipe .mark {
  border: 0 !important;
}

sw-item-list .options-btn.active {
  transform: translate(50vw, 0) !important;
}

sw-item-list .list-swipe .mark {
  display: none;
}

sw-item-list .left-swipe {
  transform: translate(0, 0);
}

.btn-paginate {
  background-color: white;
  box-shadow: 0px 0px 8px rgba(188, 186, 202, 0.39);
  font-size: var(--font-size-2);
  border-radius: 2rem;
  font-weight: 600;
  color: #7b789d;
}

.btn-paginate:hover {
  box-shadow: 0 0 10px rgba(211, 211, 214, 0.61);
  transform: scale(1.05);
  background-color: #e9e5fd !important;
  transition: all 100ms;
  color: #3634a8;
}

.overlay-copilot {
  background: rgba(150, 158, 195, 0.57);
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal-light-plan .pulse-one {
  animation: pulse-animation-one 0.85s 6;
}

.html-builder {
  background-color: red !important;
}

@keyframes pulse-animation-one {
  0% {
    box-shadow: 0 0 0 0px rgba(34, 30, 205, 0.4);
  }
  100% {
    box-shadow: 0 0 0 20px rgba(34, 30, 205, 0);
  }
}

.purchase-status-badge-paid {
  background-color: rgba(44, 164, 46, 0.84);

  border-radius: 1rem;
  color: white;
  width: 20px;
  height: 20px;
  border: solid 2px #ffffff82;
}

.purchase-status-badge-delivery-paid {
  background-color: #ff7675;

  border-radius: 1rem;
  color: white;
  width: 20px;
  height: 20px;
  border: solid 2px #ffffff82;
}

.purchase-status-badge-credit {
  background-color: #8e44ad;

  border-radius: 1rem;
  color: white;
  width: 20px;
  height: 20px;
  border: solid 2px #ffffff82;
}

.purchase-status-badge-pre-paid {
  background-color: #3498db;

  border-radius: 1rem;
  color: white;
  width: 20px;
  height: 20px;
  border: solid 2px #ffffff82;
}

.purchase-status-badge-hold {
  background-color: #f1c40f;
  border-radius: 1rem;
  color: white;
  width: 20px;
  height: 20px;
  border: solid 2px #ffffff82;
}

.purchase-status-badge-process {
  background-color: rgba(145, 140, 231, 0.9);

  border-radius: 1rem;
  color: white;
  width: 20px;
  height: 20px;
  border: solid 2px #ffffff82;
}

.purchase-status-badge-exceptional {
  background-color: rgba(1, 177, 255, 0.9);

  border-radius: 1rem;
  color: white;
  width: 20px;
  height: 20px;
  border: solid 2px #ffffff82;
}

form.ng-invalid,
form.ng-valid {
  background-color: transparent !important;
  border: 0 !important;
}

.modal-wizard {
  max-width: 100%;
  position: absolute;
  /*margin-top: 0;*/
  width: 100%;
  min-height: 100%;
  margin: 0 !important;
}

.modal-wizard .modal-content {
  min-height: 100vh;
  padding: 2rem 1rem;
}

.min-vh-50 {
  min-height: 50vh;
}

.logo-drop ngx-file-picker {
  max-width: 100%;
  margin: auto;
}

.logo-drop ngx-file-picker .file-drop-wrapper {
  padding: 0;
  background-color: #ffffff;
}

.logo-drop ngx-file-picker file-drop {
  padding: 1rem 0;
}

.logo-drop #dropZone {
  max-width: 100% !important;
  border-color: #f1f1f1 !important;
}

.logo-drop file-preview-item {
  max-width: 100%;
}

.ngx-copilot-pulse {
  background-color: initial !important;
  border-right: solid 2px var(--main-color-1) !important;
}

.ngx-copilot-pulse:after {
  content: "";
  width: 30px;
  height: 30px;
  position: absolute;
  transform: scale(1, 1);
  border-radius: 50%;
  background-color: var(--main-color-1);
  opacity: 0;
  top: 15px;
  left: 15px;
  animation: pulsing 1000ms infinite;
  animation-iteration-count: 10;
}

@keyframes pulsing {
  0% {
    transform: scale(1, 1);
    opacity: 0.25;
  }
  50% {
    transform: scale(1.5, 1.5);
    opacity: 0.5;
  }
  70% {
    transform: scale(1.7, 1.7);
    opacity: 0.25;
  }
  100% {
    opacity: 0;
  }
}

.pagination-row {
  margin-top: 0.25rem;
  display: flex;
  justify-content: center;
}

.pagination-row ul li {
  margin: 0.25rem;
  font-weight: 600;
  border-radius: var(--border-radius-35);
}

.pagination-row ul li a {
  border-radius: var(--border-radius-35);
}

.page-item.active .page-link {
  background-color: var(--main-color-1);
  border-color: #d5cef9;
}

.pagination-row .page-link {
  color: var(--text-color);
}

.inner-text-loading {
  background-color: white;
  border-radius: 1rem;
}

.dropdown-menu-convert {
  left: -140px !important;
}

.not-arrow:after {
  display: none;
}

.vertical-align {
  vertical-align: bottom;
}

.toast-panel {
  font-family: var(--font-family) !important;
  border-radius: var(--border-radius-35) !important;
}

.cal-month-view .cal-day-cell:not(:last-child) {
  /*min-height: 75px;*/
  border-right-color: #f8f8f8 !important;
}

.cal-month-view .cal-days {
  min-height: 75px;
  border-radius: var(--border-radius-35);
  border-color: #ffffff;
}

.cal-month-view .cal-days .cal-cell-row {
  border-bottom-color: #f8f8f8;
}

.gjs-cv-canvas {
  background-color: #ffffff;
}

.gjs-frame-wrapper {
  border-left: solid 1px #e8e8e896;
  border-right: solid 1px #e8e8e896;
  border-bottom: solid 1px #e8e8e896;
  box-shadow: 0 0 18px #a0a0a03d;
}

.btn-kitagil {
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 18px;
}

.btn.focus,
.btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(134, 147, 204, 0.2);
}

.btn-save-kitagil:after {
  content: "\f0c7";
}

.btn-trash-kitagil:after {
  content: "\f1f8";
}

.btn-list-kitagil:after {
  content: "\f15c";
}

.gps-variables-table input {
  background-color: white;
  width: 90%;
  border: 0;
  font-size: 1rem;
  font-family: monospace;
  padding: 5px;
}

.gjs-four-color {
  color: #b6baea;
}

.form-control {
  border: 0;
  padding: 0.25rem 0.25rem;
  border-bottom: solid 1px #fcfcfc;
  border-radius: 0;
  background-color: #fcfcfc;
}

.modal .modal-content {
  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.modal-backdrop {
  transition: opacity 0.05s linear;
}

.modal.fade.show .modal-content {
  -webkit-animation-name: anim-open;
  animation-name: anim-open;
  -webkit-animation-timing-function: cubic-bezier(0.6, 0, 0.4, 1);
  animation-timing-function: cubic-bezier(0.6, 0, 0.4, 1);
}

.modal.fade .modal-content {
  -webkit-animation-name: anim-close;
  animation-name: anim-close;
}

@-webkit-keyframes anim-open {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0, 0, 1);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
  }
}

@keyframes anim-open {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0, 0, 1);
    transform: scale3d(0, 0, 1);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@-webkit-keyframes anim-close {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: scale3d(0.5, 0.5, 1);
  }
}

@keyframes anim-close {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: scale3d(0.5, 0.5, 1);
    transform: scale3d(0.5, 0.5, 1);
  }
}
