.template-single {
  cursor: pointer;
  background-color: white;
  width: 170px;
  background-position: center;
  height: 260px;
  background-repeat: no-repeat;
  box-shadow: 0 0 10px #0000000d;
  background-size: contain;
}

.template-single:hover {
  transition: all .1s;
  box-shadow: 0 0 10px #0000004a;
}
