.btn-round:hover {
  transform: scale(1.1);
  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  -o-transition: all 200ms;
  transition: all 200ms;
}

.btn-round:hover fa-icon {
  color: #221ECE;
}

.pulse {
  animation: pulse-animation .7s infinite;
}

@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px rgba(34, 30, 205, 0.4)
  }
  100% {
    box-shadow: 0 0 0 20px rgba(34, 30, 205, 0)
  }
}
