<div class="custom-card-style-section p-2 col-12 flex-wrap d-flex">
  <div class="col-12 p-0 text-right tabs">
    <ng-template #tolTemplate>{{"GENERAL.LIST" |translate}}</ng-template>
    <ng-template #tolTemplateDelete>{{"GENERAL.DELETE" |translate}}</ng-template>
    <button type="button" class="btn-round" placement="left"
            (click)="callbackList()"
            [tooltip]="tolTemplate" containerClass="customToolTip">
      <fa-icon size="2x" [icon]="faList"></fa-icon>
    </button>
    <div>
      <button class="btn-round mr-3"
              *ngIf="add"
              (click)="callbackAdd()"
              type="button" placement="left" [tooltip]="tolTemplateDelete"
              containerClass="customToolTip">
        <fa-icon size="2x" [icon]="faPlus"></fa-icon>
      </button>
      <button class="btn-round mr-3"
              *ngIf="trash"
              (click)="delete()"
              type="button" placement="left" [tooltip]="tolTemplateDelete"
              containerClass="customToolTip">
        <fa-icon size="2x" [icon]="faTrashAlt"></fa-icon>
      </button>
      <button [disabled]="!valid" (click)="callbackSave()" class="btn-round" placement="left" [tooltip]="tolTemplate"
              containerClass="customToolTip">
        <fa-icon *ngIf="valid" size="2x" [icon]="faSave"></fa-icon>
        <fa-icon class="text-danger" *ngIf="!valid" size="2x" [icon]="faExclamation"></fa-icon>
      </button>
    </div>
  </div>
</div>
