
<div class="detail-invoice">
  <!--  <div class="float-right menu-sub">-->
  <!--    <ul>-->
  <!--      <li *ngFor="let a of [1,1,1]">-->
  <!--        <div class="btn">-->
  <!--          <fa-icon [icon]="faTruck"></fa-icon>-->
  <!--        </div>-->
  <!--      </li>-->
  <!--    </ul>-->
  <!--  </div>-->
  <tabset>

    <tab [heading]="'PURCHASE.TAB' | translate" id="tab1">
      <div class="col-12 row m-0 p-0 ">
        <div class="col-sm-12 col-lg-9 col-md-9 d-none d-md-block ">
          <h4 class="title">{{'PURCHASE.TITLE'| translate}}</h4>
          <h6 class="text-muted text-uppercase">{{data?.controlNumber}}</h6>
          <div>
            <span class="badge badge-orange text-uppercase">{{data?.status}}</span>
          </div>
          <div class=" d-none d-md-block">
            <div class="pt-4 pb-2 d-flex " [@swipe]>
              <div class="d-flex mr-3" *ngFor="let a of [1]">
                <div class="btn btn-invoice-in">
                  <fa-icon [icon]="faFileAlt"></fa-icon>
                </div>
                <div class="details-invoice-block pt-2 pb-2 pl-3 pr-3">
                  <div class="label-in">{{'PURCHASE.DATE'| translate}}</div>
                  <div class="data-in">{{data?.createdAt | date}}</div>
                </div>
              </div>

            </div>
          </div>

        </div>
        <div class="col-sm-12 col-lg-3 col-md-3  d-none d-md-block">
          <div class="wrapper-address">
            <div>
              <small class="text-muted">{{'PURCHASE.CUSTOMER' | translate}}</small>
            </div>
            <div class="mt-2">
              <b class="text-primary">
                {{data?.customer?.name}} {{data?.customer?.lastName}}
              </b>
            </div>
            <div class="mt-2 address">
              {{data?.customer?.address}}
            </div>
          </div>
        </div>

        <div class="col-12 pt-4 pb-4">

          <div class="items-wrapper" *ngIf="items?.length">
            <div class="d-flex mb-2">
              <h6 class="title-in-items col-lg-6 col-md-6 col-sm-6 p-0">{{'PURCHASE.ITEM' |translate}}</h6>
              <h6 class="title-in-items col-lg-3
              p-0 d-none d-lg-block text-center">
                {{'PURCHASE.QTY' |translate}}</h6>
              <h6 class="title-in-items col-lg-3 col-md-6 col-sm-6 p-0 d-none d-md-block text-center">
                {{'PURCHASE.PRICE' |translate}}</h6>
            </div>


            <sw-item-list *ngFor="let item of items"
                          [inside]="item"
                          [editTemplate]="null"
                          (callback)="cbSwipe($event)"
                          [trashTemplate]="null"
                          [customTemplate]="customTemplateSrc"
                          [item-class]="'list-custom copilot'">

            </sw-item-list>

          </div>
          <div class="text-right pt-3 d-none d-md-block" *ngIf="total">
            <small class="text-muted font-weight-bold">{{'PURCHASE.TOTAL' |translate}}</small>
            <h5 class="m-0">
              <b>{{currencySymbol}}
                {{total |number:'1.2-2'}}
                {{currency}}
              </b>
            </h5>
          </div>

          <div *ngIf="!items?.length" class="text-center cursor-pointer" (click)="open()">
            <b>{{'PURCHASE.ADD_PRODUCT' | translate}}</b>
            <div class="d-flex justify-content-center">

              <ng-lottie
                class="margin-auto"
                width="100px"
                [options]="options"
                (animationCreated)="animationCreated($event)">
              </ng-lottie>
            </div>
            <div>
              <small class="text-muted">{{'PURCHASE.ADD_PRODUCT_PLACEHOLDER' | translate}}</small>
            </div>
          </div>
        </div>
      </div>
    </tab>
  </tabset>

</div>


<!--- **************** TEMPLATE CUSTOM *************** ------->
<ng-template #customTemplateSrc let-item='item' let-id='id'>
  <div class="custom-inside" data-copilot="'dadad'" data-id="{{id}}">
    <div>
      <div class="col-12 row mr-0 ml-0 item-self">
        <div class="col-lg-6 col-md-6 col-sm-12 d-flex">
          <div class="p-1  d-none d-md-block">
            <span class="number-item">{{item?.qty}}</span>
            <img class="image"
                 [src]="item?.gallery | firstImage:'large'"
                 alt="">
          </div>
          <div class="p-1">
            <div><b class="mt-1 item-name">{{item?.name}}</b></div>
            <div>
              <small class="text-muted mt-1">SKU: {{item?.sku}}</small>
            </div>
            <!--                {{a | json}}-->
          </div>
        </div>
        <div class="col-lg-3 d-none d-md-block text-center">
          <b>{{item?.qty}}</b>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 text-md-right text-sm-left">
          <div class="mb-1 d-none d-md-block ">
            <small class="text-muted text-weight-bold p-1 badge badge-prices">
              <span>{{item?.qty}}x</span>
              {{currencySymbol}}
              {{item?.prices | firstValue:'amount' |number:'1.2-2'}}
              {{currency}}
            </small>
          </div>
          <b class="price-amount">{{currencySymbol}}
            {{parseNumber(item?.prices | firstValue:'amount') * item?.qty |number:'1.2-2'}}
            {{currency}}</b>
        </div>
        <button type="button"
                class="btn btn-default btn-round btn-default-trash d-none d-md-block"
                (click)="onRemove(item)">
          <fa-icon [icon]="faTrashAlt"></fa-icon>
        </button>
      </div>
    </div>
  </div>
</ng-template>
<!--- **************** FIN CUSTOM *************** ------->

<!--Defined yout template for icon button (trash)-->
<ng-template #trashTemplate>
  <div class="text-center">
    <button type="button"
            class="btn btn-default btn-round btn-default-trash">
      <fa-icon [icon]="faTrashAlt"></fa-icon>
    </button>
  </div>
</ng-template>
