<ng-container *ngTemplateOutlet="loadingAll;context:{loading:loading}"></ng-container>
<ng-container *ngIf="share?.unSave">
  <div class=" col-12 flex-wrap d-flex mb-3 alert alert-warning">
    <div class="col-12 p-0">
      <div [innerHTML]="'PURCHASE.NOT_SAVE'|translate"></div>
    </div>
  </div>
</ng-container>
<div class="detail-invoice">
  <tabset #tabset>
    <tab id="detail">
      <ng-template tabHeading>
        <span class="mr-1">
          <fa-icon [icon]="faList"></fa-icon>
        </span>
        <span>{{'PURCHASE.TAB' | translate}}</span>
      </ng-template>
      <div class="col-12 row m-0 p-0 ">
        <div class="col-sm-12 col-lg-9 col-md-9 pt-1">
          <h4 class="title">
            <span *ngIf="data?.convert?.includes('_pay')">{{'PURCHASE.PAY_ORDER'| translate}}</span>
            <span *ngIf="data?.convert?.includes('_purchase')">{{'PURCHASE.PRE_PURCHASE'| translate}}</span>
            <span *ngIf="data?.convert?.includes('_invoice')">{{'PURCHASE.INVOICE'| translate}}</span>
            <span class="ml-1" [style.opacity]="'.5'">
              <a target="_blank" [href]="'HELP_LINK.PURCHASE_CONVERT'|translate">
                <fa-icon size="sm" [icon]="faQuestionCircle"></fa-icon>
              </a>
            </span>
          </h4>
          <h6 *ngIf="data?.convert?.includes('_invoice')" class="text-muted text-uppercase">{{data?.invoiceNumber}}</h6>
          <h6 *ngIf="!data?.convert?.includes('_invoice')" class="text-muted text-uppercase">{{data?.controlNumber}}
          </h6>
          <div>
            <div class="btn-group " dropdown>
              <button id="button-basic" dropdownToggle type="button"
                      class="badge border-0 badge-orange text-uppercase dropdown-toggle">
                {{data?.status}}
              </button>
              <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu  animate__animated animate__bounceIn"
                  role="menu" aria-labelledby="button-basic">
                <li role="menuitem" *ngFor="let s of purchaseService.statusPurchases">
                  <button class="dropdown-item" type="button"
                          (click)="changeStatusPurchase(s?.value)">{{'PURCHASE.LABELS_STATUS_PURCHASES.' + s?.name | translate }}
                  </button>
                </li>
              </ul>
            </div>
          </div>
          <div class=" d-none d-md-block">
            <div class="pt-4 pb-2 d-flex " [@swipe]>
              <div class="d-flex mr-3">
                <div class="btn btn-invoice-in">
                  <fa-icon [icon]="faFileAlt"></fa-icon>
                </div>
                <div class="details-invoice-block pt-2 pb-2 pl-3 pr-3">
                  <div class="label-in">{{'PURCHASE.DATE'| translate}}</div>
                  <div class="data-in">{{data?.createdAt | date}}</div>
                </div>
              </div>
              <div class="d-flex mr-3" *ngIf="data?.deliveryDate">
                <div class="btn btn-invoice-in">
                  <fa-icon [icon]="faTruck"></fa-icon>
                </div>
                <div class="details-invoice-block pt-2 pb-2 pl-3 pr-3">
                  <div class="label-in">{{'PURCHASE.DATE_DELIVERY'| translate}}</div>
                  <div class="data-in">{{data?.deliveryDate | date}}</div>
                </div>
              </div>
              <div class="d-flex mr-3" appShowRole [role]="['admin']" (click)="openEditSeller(data?.author)">
                <div class="btn btn-invoice-in">
                  <fa-icon [icon]="faUser"></fa-icon>
                </div>
                <div class="details-invoice-block pt-2 pb-2 pl-3 pr-3">
                  <div class="label-in">{{'PURCHASE.SELLER'| translate}}</div>
                  <div class="data-in">{{data?.author?.name}}</div>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="col-sm-12 col-lg-3 col-md-3 pt-1 pl-0 pr-0 ">
          <div class="wrapper-address">
            <div>
              <small class="text-muted">{{'PURCHASE.CUSTOMER' | translate}}</small>
            </div>
            <div class="mt-0 cursor-pointer">
              <b class="text-primary" [routerLink]="['/','users',data?.customer?._id]">
                {{data?.customer?.name}} {{data?.customer?.lastName}}
              </b>
            </div>
            <div class="mt-1">
              <small class="text-muted">{{'PURCHASE.ADDRESS' | translate}}</small>
            </div>
            <div class="mt-1 address">
              {{data?.deliveryAddress}}
            </div>
            <div class="mt-1">
              <small class="text-muted">{{'PURCHASE.ADDRESS_INVOICE' | translate}}</small>
            </div>
            <div class="mt-1 address">
              {{data?.invoiceAddress}}
            </div>
          </div>
        </div>

        <div class="col-12 pt-4 pb-4">
          <div class="items-wrapper" *ngIf="items?.length">
            <div class="d-flex mb-2">
              <h6 class="title-in-items col-lg-5 col-md-6 col-sm-5 p-0">{{'PURCHASE.ITEM' |translate}}</h6>
              <h6 class="title-in-items col-lg-2
              p-0 d-none d-lg-block text-center">
                {{'PURCHASE.QTY' |translate}}</h6>
              <h6 class="title-in-items col-lg-2
              p-0 d-none d-lg-block text-center">
                {{'PURCHASE.TAX' |translate}}</h6>
              <h6 class="title-in-items col-lg-3 col-md-6 col-sm-6 p-0 d-none d-md-block text-right">
                {{'PURCHASE.PRICE' |translate}}</h6>
            </div>

            <sw-item-list *ngFor="let item of items" [inside]="item" [editTemplate]="null" (callback)="cbSwipe($event)"
                          [trashTemplate]="null" [customTemplate]="customTemplateSrc"
                          [item-class]="'list-custom copilot'">
            </sw-item-list>
          </div>

          <div class="col-12 p-0">
            <div class="name">
              <div class="form-group  mt-2">
                <label>{{"PURCHASE.DESCRIPTION" |translate}}</label>
                <input type="text" [(ngModel)]="description"
                       [style.backgroundColor]="(description?.length !== 0) ? '#ffe8aa' : '#fcfcfc'"
                       class="form-control"
                       aria-describedby="emailHelp" placeholder=""></div>
              <small class="text-muted">{{'PURCHASE.PLACEHOLDER_DESCRIPTION'|translate}}</small>
            </div>
          </div>


          <div class="text-right pt-3 pl-3 pr-3 d-none d-md-block" *ngIf="taxes?.length">
            <small class="text-muted font-weight-bold">{{'PURCHASE.TAXES' |translate}}</small>
            <h6 class="m-0 taxes-list">

              <ul>
                <li class="pt-2 font-weight-bold" *ngFor="let tax of taxes">
                  <span class="text-muted">{{tax?.tax_name}}</span><span class="pl-2">{{currencySymbol}}
                  {{tax?.tax_percentage |number:'1.2-2'}}</span>
                  {{currency}}
                </li>
                <li class="pt-3 font-weight-bold">
                  <div class="pb-1">
                    <small class="text-muted font-weight-bold ">{{'PURCHASE.TOTAL_TAXES' |translate}}</small>
                  </div>
                  {{currencySymbol}} {{sumTaxesTotal  |number:'1.2-2'}} {{currency}}
                </li>
              </ul>
            </h6>
          </div>

          <div class="text-right pt-0 pl-3 pr-3 mt-2">
            <div class="d-flex justify-content-end" *ngIf="subTotal">
              <div *ngIf="!share?.unSave" class="mr-4 ml-4">
                <small class="text-info font-weight-bold ">{{'PURCHASE.TOTAL_PAY' |translate}}</small>
                <h5 class="m-0 ">
                  <b>{{currencySymbol}}
                    {{data?.totalPay |number:'1.2-2'}}
                    {{currency}}
                  </b>
                </h5>
              </div>
              <div *ngIf="!share?.unSave" class="mr-4 ml-4">
                <small class="text-danger font-weight-bold ">{{'PURCHASE.TOTAL_SUBTRACT' |translate}}</small>
                <h5 class="m-0">
                  <b>{{currencySymbol}}
                    {{data?.totalSubtract  |number:'1.2-2'}}
                    {{currency}}
                  </b>
                </h5>
              </div>
              <div class="mr-4 ml-4">
                <small class="text-muted font-weight-bold">{{'PURCHASE.SUB_TOTAL' |translate}}</small>
                <h5 class="m-0">
                  <b>{{currencySymbol}}
                    {{subTotal |number:'1.2-2'}}
                    {{currency}}
                  </b>
                </h5>
              </div>
              <div class="ml-4" *ngIf="total">
                <small class="text-muted font-weight-bold">{{'PURCHASE.TOTAL' |translate}}</small>
                <h5 class="m-0">
                  <b>{{currencySymbol}}
                    {{total |number:'1.2-2'}}
                    {{currency}}
                  </b>
                </h5>
              </div>
            </div>
          </div>

          <div *ngIf="!items?.length" class="text-center cursor-pointer" (click)="openModalProduct()">
            <b>{{'PURCHASE.ADD_PRODUCT' | translate}}</b>
            <div class="d-flex justify-content-center">

              <ng-lottie class="margin-auto" width="100px" [options]="options"
                         (animationCreated)="animationCreated($event)">
              </ng-lottie>
            </div>
            <div>
              <small class="text-muted">{{'PURCHASE.ADD_PRODUCT_PLACEHOLDER' | translate}}</small>
            </div>
          </div>
        </div>
      </div>
    </tab>
    <tab id="orders">
      <ng-template tabHeading>
        <span class="mr-1">
          <fa-icon [icon]="faMoneyBill"></fa-icon>
        </span>
        <span>{{'PURCHASE.ORDERS' | translate}}</span>
      </ng-template>
      <app-list-orders [autoLoad]="false" [dataInside]="data?.orders" [searchTool]="false" [mode]="'inside'">
      </app-list-orders>
    </tab>
    <tab id="attachments">
      <ng-template tabHeading>
        <span class="mr-1">
          <fa-icon [icon]="faPaperclip"></fa-icon>
        </span>
        <span>{{'PURCHASE.ATTACHMENTS' | translate}}
          <span *ngIf="data?.attachment?.length">({{data?.attachment?.length}})</span></span>
      </ng-template>

      <app-drop-gallery (cbAdded)="afterAdded()"></app-drop-gallery>

    </tab>
  </tabset>
</div>

<!--- **************** TEMPLATE CUSTOM *************** ------->
<ng-template #customTemplateSrc let-item='item' let-id='id'>
  <div class="custom-inside" data-copilot="'dadad'" data-id="{{id}}">
    <div>
      <div class="col-12 row mr-0 ml-0 item-self">
        <div class="col-lg-5 col-md-5 col-sm-12 d-flex">
          <div class="p-1  d-none d-md-block">
            <span class="number-item">{{item?.qty}}</span>
            <img appNotImages class="image" [src]="item?.gallery | firstImage:'small'" alt="">
          </div>
          <div class="p-1">
            <div><b class="mt-1 item-name">{{item?.name}}</b></div>
            <div>
              <small class="text-muted mt-1 font-size-3">SKU: {{item?.sku}}</small>
            </div>
            <div class="w-100 d-flex flex-wrap justify-content-between">
              <span class="badge-serial mr-1 mb-1" *ngFor="let s of item?.serials">{{s}}</span>

            </div>
            <!--                {{a | json}}-->
          </div>
        </div>
        <div class="col-lg-2 col-md-2 d-none d-md-block text-center">
          <span (click)="addStock(item)" *ngIf="data?.convert?.includes('_purchase')"
                class="mr-2 btn btn-default btn-sm cursor-pointer">
            <fa-icon size="sm" [icon]="faPlus"></fa-icon>
          </span> <b [style.fontSize]="'20px'">{{item?.qty}}</b>
          <span (click)="removeStock(item)" *ngIf="(item?.qty>0) && data?.convert?.includes('_purchase')"
                class="ml-2 btn btn-default btn-sm cursor-pointer">
            <fa-icon size="sm" [icon]="faMinus"></fa-icon>
          </span>
        </div>
        <div class="col-lg-2 col-md-2 d-none d-md-block text-center">
          <b [style.fontSize]="'20px'">{{(item?.tax?.amount) ? item?.tax?.amount + '%' : ''}}</b>
        </div>
        <div (click)="openEditPrice(item)"
             class="col-lg-3 col-md-3 col-sm-12 text-md-right text-sm-left cursor-pointer">
          <div class="mb-1 d-none d-md-block ">
            <small class="text-muted text-weight-bold p-1 badge badge-prices ">
              <span>{{item?.qty}}x</span>
              {{currencySymbol}}
              {{item?.prices | firstValue:'amount' |number:'1.2-2'}}
              {{currency}}
            </small>
          </div>
          <b class="price-amount">{{currencySymbol}}
            {{item?.prices |firstValue:'amount':{qty: item?.qty} |number:'1.2-2'}}
            {{currency}}</b>
        </div>
        <button type="button" *ngIf="data?.convert?.includes('_purchase')"
                class="btn btn-default  btn-default-trash d-none d-md-block" (click)="onRemove(item)">
          <fa-icon [icon]="faTrashAlt"></fa-icon>
        </button>
      </div>
    </div>
  </div>
</ng-template>
<!--- **************** FIN CUSTOM *************** ------->
<ng-template #loadingAll let-loading="loading">
  <div *ngIf="loading === true" class="w-100 text-center h-100 loading-wrapper">
    <div class="in">
      <img [width]="'5rem'" src="../../../../../assets/images/loading-svg.svg" alt="">
    </div>
  </div>
</ng-template>
