:host {
  background-color: white;
  padding: 1rem 1rem;
  border-radius: .75rem;
  font-weight: 600;
  font-size: .9rem;
  display: block;
  width: 100%;
  letter-spacing: .6px;
  box-shadow: 1px 3px 0px #EEEFF6;
}
.separator{
  border-bottom: solid 1px black;
}
