:host {
  background-color: white;
  padding: 1rem 1rem;
  border-radius: var(--border-radius-35);
  font-weight: 500;
  font-size: var(--font-size-1);
  display: block;
  width: 100%;
  letter-spacing: .6px;
  box-shadow: var(--box-shadow);
}

.separator {
  border-bottom: solid 1px black;
}

.title {
  font-weight: 600;
  margin-bottom: .5rem;
}

.badge-orange {
  background-color: #ffa98a;
  padding: .5rem;
  border-radius: var(--border-radius-35);
  color: white;
}

.menu-sub ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.btn-invoice-in {
  background: white;
  border-radius: var(--border-radius-35);
  width: 3.5rem;
  height: 3.5rem;
  line-height: 2.8rem;
  box-shadow: 3px 3px 15px rgba(223, 225, 239, 0.8);
}

.btn-invoice-in fa-icon {
  color: var(--text-color);
}

.label-in {
  font-weight: 600;
  color: var(--text-color-3);
}

.details-invoice-block {
  font-size: var(--font-size-3);
  color: var(--text-color-1);
  font-weight: 600;
}

.address {
  font-size: var(--font-size-2);
  font-weight: 600;
}

.wrapper-address {
  border: solid 1px #eeeff68c;
  padding: .75rem .75rem;
  border-radius: var(--border-radius-35);
  box-shadow: 3px 3px 7px rgb(223 225 239 / 40%);
}

.items-wrapper {
  background-color: #f9f9f9;
  padding: .75rem 1rem;
  border-radius: var(--border-radius-35);
}

.items-wrapper .title-in-items {
  font-weight: 600;
  font-size: var(--font-size-2);
  color: var(--text-color-2);
}

.items-wrapper .item-self .image {
  width: 45px;
  height: 45px;
  border-radius: var(--border-radius-35);
  border: solid 1px #fdfdfd;
  object-fit: cover;
  box-shadow: 4px 5px 15px #eeeff6;
}

.items-wrapper .item-self {
  background-color: #FEFEFE;
  border-radius: var(--border-radius-35);
  padding: 0.6rem .35rem;
  margin-bottom: .5rem;
  align-items: center;
}

.number-item {
  background: white;
  position: absolute;
  width: 20px;
  height: 20px;
  margin-left: -5px;
  margin-top: -5px;
  border-radius: var(--border-radius-35);
  text-align: center;
  border: solid 2px #599242;
  font-size: 10px;
  line-height: 16px;
  font-weight: 600;
}

.items-wrapper .item-name {
  color: #222222;
  font-size: var(--font-size-2);;
}

.btn-default-trash {
  box-shadow: 0 0 10px rgba(188, 186, 195, 0.35);
  padding: .3rem 1rem;
  position: absolute;
  right: -30px;
}

.cursor-pointer {
  cursor: pointer;
}

.btn-primary:hover, .btn-default-trash:hover,
.btn-success:hover {
  transform: scale(1.1);
  -webkit-transition: all 100ms;
  -moz-transition: all 100ms;
  -o-transition: all 100ms;
  transition: all 100ms;
}

.btn-success {
  background-color: #2CA42E;
}

.badge-serial {
  background: rgb(0 123 255 / 5%);
  font-size: 11px;
  padding: .1rem .5rem;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: var(--border-radius-35);
}


.form-group label {
  font-size: var(--font-size-2);;
  font-weight: 600;
}

.form-group {
  margin-bottom: 0;
}

.form-product .label {
  font-size: var(--font-size-2);;
}

.form-product .name {
  font-size: 1.5rem;
}

.badge-step {
  background-color: white;
  margin-right: .5rem;
  padding: .2rem;
  font-size: var(--font-size-2);;
  border-radius: var(--border-radius-35);
  border: solid 1px #f6f5fa;
  box-shadow: 3px 3px 7px rgb(223 225 239 / 40%);
}

hr {
  border-top: 1px solid rgb(242 243 253);
}

.taxes-list ul {
  list-style: none;
}

.taxes-list ul li {
  font-size: 14px;
  margin: 0;
  padding: 0;
}

.taxes-list ul li:first-child {
  padding-top: 0 !important;
}
