:host {
  display: block;
  width: 100%;
}

.margin-auto {
  margin: auto;
  display: inline-table;
}

ng-lottie .div {
  margin: auto;
}
ng-lottie{
  opacity: .5;
}
:host {
  display: block;
}

.wrapper-box {
  background-color: white;
  border-left: solid 1px var(--border-color-6);
  border-right: solid 1px var(--border-color-6);
  border-bottom: solid 1px var(--border-color-6);
  border-bottom-left-radius: var(--border-radius-35);
  border-bottom-right-radius: var(--border-radius-35);
}
