<div class="text-center pl-0 pr-0 pt-4 pb-4 ml-1 mr-1 wrapper-box">
  <ng-lottie
    class="margin-auto"
    width="80px"
    (domLoaded)="loopComplete($event)"
    [options]="options" (animationCreated)="animationCreated($event)"></ng-lottie>
  <div class="text-center">
    <small [innerHTML]="'GENERAL.EMPTY' |translate"></small>
  </div>
</div>
