<div class="p-2">
  <div class="pb-2">
    <h6 class="font-weight-bold">{{'SETTINGS.ADD_TAX_TITLE' | translate}}</h6>
  </div>

  <form class="form-product" [formGroup]="form" (ngSubmit)="update()">
    <div class="form-group pb-3">
      <label>{{'SETTINGS.TAX_NAME' |translate}}</label>
      <input type="text" class="form-control" formControlName="name" placeholder="IVA 21%">
      <small class="form-text text-muted">{{'SETTINGS.TAX_NAME_PLACEHOLDER' | translate}}</small>
    </div>
    <div class="form-group pb-3">
      <label>{{'SETTINGS.TAX_AMOUNT' |translate}}</label>
      <input type="text" class="form-control" formControlName="amount" placeholder="21">
      <small class="form-text text-muted">{{'SETTINGS.TAX_AMOUNT_PLACEHOLDER' | translate}}</small>
    </div>
    <div class="form-group text-left">
      <button class="btn btn-primary hvr-grow  btn-radius" [disabled]="!form.valid">{{'GENERAL.SAVE'|translate}}</button>
    </div>
  </form>
</div>
