<app-header [history]="history"></app-header>
<app-navbar></app-navbar>
<app-side-bar></app-side-bar>
<div class="container-row d-flex">
  <mat-tab-group animationDuration="350ms" color="accent" disableRipple class="w-100 min-vh-100">
    <mat-tab label="Vendedores">
      <ng-template matTabContent>
        <app-list-seller></app-list-seller>
      </ng-template>
    </mat-tab>
    <mat-tab label="Ordenes">
      <ng-template matTabContent>
        <app-list-purchases></app-list-purchases>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>

<!-- ************ PAGINATE BUTTON ************  -->
<div *ngIf="viewMore" class="w-100" [style.opacity]="loading ? '0' : '1'">
  <ng-template #firstTemplate let-disabled="disabled" let-currentPage="currentPage">
    <fa-icon [icon]="faAngleDoubleLeft"></fa-icon>
  </ng-template>

  <ng-template #lastTemplate let-disabled="disabled" let-currentPage="currentPage">
    <fa-icon [icon]="faAngleDoubleRight"></fa-icon>
  </ng-template>
  <ng-template #prevTemplate let-disabled="disabled" let-currentPage="currentPage">
    <fa-icon [icon]="faAngleLeft"></fa-icon>
  </ng-template>
  <ng-template #nextTemplate let-disabled="disabled" let-currentPage="currentPage">
    <fa-icon [icon]="faAngleRight"></fa-icon>
  </ng-template>
  <div class="pagination-row" *ngIf="pagination?.hasPrevPage || pagination?.hasNextPage">
    <pagination (pageChanged)="pageChanged($event)" [itemsPerPage]="pagination?.limit"
      [customFirstTemplate]="firstTemplate" [customLastTemplate]="lastTemplate" [customPreviousTemplate]="prevTemplate"
      [customNextTemplate]="nextTemplate" [maxSize]="pagination?.limit" [totalItems]="pagination?.totalDocs">
    </pagination>
  </div>
</div>

<!-- ************ PAGINATE BUTTON ************  -->
