<div class="row m-0 col-12 p-0">
  <div class="col-sm-12 col-md-12 col-lg-4">
    <div class="login-section ">
      <div class="title-section animate__animated animate__fadeInDown">
        <h1 class="title">{{"FORGOT.WELCOME" | translate}}</h1>
        <span class="text-muted">{{"FORGOT.SUB_TITLE" |translate}}</span>
      </div>
      <form class="animate__animated animate__fadeInDown" [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off">
        <div class="d-flex  justify-content-center pb-4 mb-2 flex-column align-items-center" *ngIf="send">
          <ng-lottie width="200px" [options]="optionsMail"
                     (loopComplete)="stop()"
                     (animationCreated)="animationMailCreated($event)">
          </ng-lottie>
          <div class="text-center pt-3">
            <span>{{'FORGOT.MESSAGE_FORGOT'| translate}}</span>
          </div>
        </div>
        <div class="form-group" *ngIf="!send">
          <label for="exampleInputEmail1">{{"FORGOT.FORM.EMAIL" |translate}}</label>
          <input type="text" class="form-control"
                 formControlName="email"
                 id="exampleInputEmail1" aria-describedby="emailHelp"
                 placeholder="">
          <small class="form-text text-muted">{{"FORGOT.FORM.EMAIL_PLACEHOLDER" |translate}}</small>
        </div>
        <button *ngIf="!send" [disabled]="!form.valid"  ngxLoading [loadingFlag]="loading"
                [textInitial]="'FORGOT.FORM.SEND' | translate"
                [textLoading]="'GENERAL.LOADING_SINGLE' | translate"
                type="submit"
                class="btn btn-primary hvr-grow  btn-radius btn-block"></button>
        <div class="col-12 text-center p-4" *ngIf="send">
          <a class="font-weight-bold" [routerLink]="['/','oauth','login']">{{'FORGOT.GO_TO_LOGIN' | translate}}</a>
        </div>
        <!--        <button type="submit" class="btn btn-primary hvr-grow  btn-radius btn-block">{{"LOGIN.FORM.SEND" |translate}}</button>-->
      </form>
    </div>
  </div>
  <div class="col-8 img-section d-none d-sm-none d-md-none d-lg-block">
    <div class="text-center d-block m-auto">
      <ng-lottie width="50%" [options]="options" (animationCreated)="animationCreated($event)"></ng-lottie>
    </div>
  </div>
</div>
