<div class="form-product">
  <div class="custom-card-style col-12 mt-2 flex-wrap d-flex">
    <div class="col-12 p-0">
      <div class="name">
        <div class="form-group">
          <label>{{ "PURCHASE.SELLER" | translate }}</label>
          <ng-select #selectProductRef [items]="results$ | async"
                     bindLabel="name"
                     (close)="selectProductRef.blur(); selectProductRef.focus()"
                     [addTag]="true"
                     [multiple]="false"
                     [hideSelected]="true"
                     [(ngModel)]="author"
                     [trackByFn]="trackByFn"
                     [minTermLength]="3"
                     (change)="selectUser($event)"
                     [loading]="userLoading"
                     [typeToSearchText]="'PURCHASE.SEARCH_PRODUCT' |translate"
                     [typeahead]="userInput$">
            <ng-template ng-label-tmp let-item="item">
              {{item?.name}} {{item?.lastName}} <small><i>{{item?.nameBusiness}}</i></small>
            </ng-template>
            <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
              <div class="card-list d-flex">
                <div class="p-1">
                  <ngx-avatar cornerRadius="5" [round]="false" size="30" [name]="item?.name"></ngx-avatar>
                </div>
                <div class="p-1">
                  <div>{{item?.name}} {{item?.lastName}}</div>
                  <small><i>{{item?.nameBusiness}}</i></small>
                  <div class="font-weight-normal text-muted">
                      <span *ngFor="let tag of item?.tag">
                        <span class="badge badge-tag">{{tag?.name}}</span>
                      </span>
                  </div>
                </div>
              </div>
            </ng-template>
          </ng-select>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center pt-3 d-flex justify-content-between mb-2">
    <button (click)="close()" type="button" class="btn btn-primary hvr-grow  btn-radius">
      {{'GENERAL.SAVE' | translate}}
    </button>
  </div>
</div>

