<app-header></app-header>
<app-side-bar></app-side-bar>

<div class="w-100 container-row d-flex">
  <ng-container *ngTemplateOutlet="loadingAll;context:{loading:loading}"></ng-container>
  <app-list-items
    [search]="false"
    [(data)]="data"
    [showIcon]="false"
    [customTemplate]="customTemplateSrc"
    class="col-12 row m-0 pl-2">
  </app-list-items>
</div>


<!-- ***************** TEMPLATE ************** -->

<ng-template #customTemplateSrc let-dat='dat'>
  <!-- ************ PURCHASES ************* -->
  <ng-container *ngIf="data?.purchases?.docs?.length">
    <div class="label-search">
      <fa-icon [icon]="faCartPlus"></fa-icon>
      {{'SEARCH.PURCHASES.TITLE' | translate}}
      <span *ngIf="data?.purchases?.hasNextPage">
        <button class="btn-sm btn btn-link"
                [routerLink]="['/','purchase']"
                [queryParams]="{q: this.q}">
          <b>{{'SEARCH.VIEW_MORE'|translate}}</b>
        </button>
      </span></div>
    <ul>
      <li *ngFor="let inside of data?.purchases?.docs" [routerLink]="['/','purchase',inside?._id]">
        <div class="d-flex item-list-single w-100">
          <!--Blocked 1-->
          <div class="pl-2 pr-2 pt-1 pb-1 col-3">
            <div class="d-flex">
              <div>
                <small class="text-muted">{{inside?.createdAt | date}}</small>
                <h6 class="name mr-2">{{inside?.controlNumber}}</h6>
              </div>
            </div>
          </div>
          <!--Blocked-->
          <!--Blocked 1-->
          <div class="pl-2 pr-2 pt-1 pb-1 col-3">
            <div class="d-flex">
              <div>
                <small class="text-muted">
                  <fa-icon [icon]="faPhoneAlt"></fa-icon>
                  {{inside?.customer?.phone}}</small>
                <h6 class="name mr-2">{{inside?.customer?.name}} {{inside?.customer?.lastName}}</h6>
              </div>
            </div>
          </div>
          <!--Blocked-->
          <!--Blocked 1-->
          <div class="pl-2 pr-2 pt-1 pb-1 col-3">
            <div class="d-flex">
              <div>
                <h6 class="name mr-2">
                  {{currencySymbol}}
                  {{inside?.total | number:'1.2-2'}}
                  {{currency}}
                </h6>
              </div>
            </div>
          </div>
          <!--Blocked-->
          <!--Blocked 1-->
          <div class="pl-2 pr-2 pt-1 pb-1 col-3">
            <div class="d-flex justify-content-end align-content-center align-items-center ">
              <div [ngClass]="{
            'purchase-status-badge-paid':(inside.status === 'paid'),
            'purchase-status-badge-hold':(inside.status === 'hold'),
            'purchase-status-badge-process':(inside.status === 'process'),
            'purchase-status-badge-exceptional':(inside.status === 'exceptional')
            }">{{inside?.status}}</div>
            </div>
          </div>

        </div>
      </li>
    </ul>

  </ng-container>
  <!-- ************ PURCHASES ************* -->

  <!-- ************ PRODUCTS ************* -->
  <ng-container *ngIf="data?.products?.docs?.length">
    <div class="mt-4 label-search">
      <fa-icon [icon]="faBox"></fa-icon>
      {{'SEARCH.PRODUCTS' | translate}}
      <span *ngIf="data?.products?.hasNextPage">
        <button class="btn-sm btn btn-link"
                [routerLink]="['/','products']"
                [queryParams]="{q: this.q}">
          <b>{{'SEARCH.VIEW_MORE'|translate}}</b>
        </button>
      </span>
    </div>
    <ul>
      <li *ngFor="let inside of data?.products?.docs"
          [routerLink]="['/','products',inside?._id]">
        <div class="pl-2 pr-2 d-block d-sm-none">
        <span class="badge-tag badge mr-1 " *ngFor="let tag of inside?.tag">
          {{(tag?.name) ? tag?.name : tag}}
            </span>
        </div>
        <div class="d-flex item-list-single w-100 justify-content-between">

          <div class="d-flex">
            <div class="d-none d-md-block">
              <img class="img-50" onerror="this.style.display='none'"
                   [src]="inside?.gallery | firstImage:'small'" alt="">
              <ngx-avatar cornerRadius="5" [round]="false" [name]="inside?.name"
                          *ngIf="!(inside?.gallery | firstImage:'small')">
              </ngx-avatar>
            </div>
            <div class="pl-2 pr-2 pt-1 pb-1">
              <div class="d-flex">
                <div class="name mr-2 font-weight-bold">{{inside?.name}}</div>
                <span class="badge-tag badge mr-1 d-none d-md-block" *ngFor="let tag of inside?.tag">
               {{(tag?.name) ? tag?.name : tag}}
            </span>
              </div>
              <div class="d-flex pt-1">
            <span class="text-muted mt-1">
              <span class="badge-tag-price badge mr-2" *ngFor="let price of inside?.prices">
                {{currencySymbol}} {{price?.amount | number:'1.2-2'}} {{currency}}
              </span>
            </span>
              </div>
            </div>
          </div>
          <div class="text-right d-none d-md-block">
            <div>
              <b class="price-main">{{inside?.manager?.name}} {{inside?.manager?.lastName}}</b>
            </div>
            <div class="m-2">
              <h6 class="m-0 text-hover font-weight-bold" [ngClass]="{
          'text-danger':(inside?.qty<=0)
          }">{{inside?.qty}}</h6>
              <small class="text-muted">{{"INVENTORY.QTY" |translate}}</small>
            </div>
          </div>
        </div>

      </li>
    </ul>
  </ng-container>
  <!-- ************ PRODUCTS ************* -->

  <!-- ************ PROVIDERS ************* -->
  <ng-container *ngIf="data?.providers?.docs?.length">
    <div class="mt-4 label-search">
      <fa-icon [icon]="faIndustry"></fa-icon>
      {{'SEARCH.PROVIDERS' | translate}}
      <span *ngIf="data?.providers?.hasNextPage">
        <button class="btn-sm btn btn-link"
                [routerLink]="['/','providers']"
                [queryParams]="{q: this.q}">
          <b>{{'SEARCH.VIEW_MORE'|translate}}</b>
        </button>
      </span>
    </div>
    <ul>
      <li *ngFor="let inside of data?.providers?.docs" [routerLink]="['/','providers',inside?._id]"
          class="d-flex item-list-single w-100 justify-content-between">
        <div class="d-none d-md-block">
          <div class="d-flex">
            <div>
              <ngx-avatar cornerRadius="5" [round]="false" [name]="inside?.name"></ngx-avatar>
            </div>
            <div class="pl-2 pr-2 pt-1 pb-1">
              <div class="d-flex">
                <div class="name font-weight-bold mr-2">{{inside?.name}}</div>
                <span class="badge-tag badge mr-1" *ngFor="let tag of inside?.tag ">
              {{(tag?.name) ? tag?.name : tag}}
            </span>
              </div>
              <div class="d-flex pt-1">
            <span class="text-muted">
              {{inside?.address}}
            </span>
              </div>
            </div>
          </div>
        </div>

        <div class="text-right">
          <div>
            <b class="price-main">{{inside?.manager?.name}} {{inside?.manager?.lastName}}</b>
          </div>
          <div class=" pt-1">
          <span class="text-muted">
            <span class="pr-1">
                <fa-icon [icon]="faIndustry"></fa-icon>
              </span>
            {{inside?.phone}}
          </span>
            <span class="text-muted ml-2">
            <span class="pr-1">
                <fa-icon [icon]="faUser"></fa-icon>
              </span>
              {{inside?.manager?.phone}}
          </span>
          </div>
        </div>
      </li>
    </ul>
  </ng-container>
  <!-- ************ PROVIDERS ************* -->

  <!-- ************ DEPOSITS ************* -->
  <ng-container *ngIf="data?.deposits?.docs?.length">
    <div class="mt-4 label-search">
      <fa-icon [icon]="faWarehouse"></fa-icon>
      {{'SEARCH.DEPOSITS' | translate}}
      <span *ngIf="data?.deposits?.hasNextPage">
        <button class="btn-sm btn btn-link"
                [routerLink]="['/','deposits']"
                [queryParams]="{q: this.q}">
          <b>{{'SEARCH.VIEW_MORE'|translate}}</b>
        </button>
      </span>
    </div>
    <ul>
      <li *ngFor="let inside of data?.deposits?.docs" [routerLink]="['/','deposits',inside?._id]"
          class="d-flex item-list-single w-100 justify-content-between">
        <div class="d-flex">
          <div>
            <ngx-avatar cornerRadius="5" [round]="false" *ngIf="inside?.name" [name]="inside.name"></ngx-avatar>
          </div>
          <div class="pl-2 pr-2 pt-1 pb-1">
            <div class="d-flex">
              <div class="name mr-2 font-weight-bold">{{inside?.name}}</div>
              <span class="badge-tag badge mr-1" *ngFor="let tag of inside?.tag">
      {{(tag?.name) ? tag?.name : tag}}
            </span>
            </div>
            <div class="d-flex pt-1">
            <span class="text-muted">
              {{inside?.address}}
            </span>
            </div>
          </div>
        </div>
        <div class="text-right">
          <div>
            <b class="price-main">{{inside?.manager?.name}} {{inside?.manager?.lastName}}</b>
          </div>
          <div>
          <span class="text-muted">
            <span class="pr-1">
                <fa-icon [icon]="faPhoneAlt"></fa-icon>
              </span>
            {{inside?.phone}}
          </span>
          </div>
        </div>
      </li>
    </ul>
  </ng-container>
  <!-- ************ DEPOSITS ************* -->

  <!-- ************ USER ************* -->
  <ng-container *ngIf="data?.users?.docs?.length">
    <div class="mt-4 label-search">
      <fa-icon [icon]="faUsers"></fa-icon>
      {{'SEARCH.USERS' | translate}}
      <span *ngIf="data?.users?.hasNextPage">
        <button class="btn-sm btn btn-link"
                [routerLink]="['/','users']"
                [queryParams]="{q: this.q}">
          <b>{{'SEARCH.VIEW_MORE'|translate}}</b>
        </button>
      </span>
    </div>
    <ul>
      <li *ngFor="let inside of data?.users?.docs" [routerLink]="['/','users',inside?._id]"
          class="d-flex item-list-single w-100 justify-content-between">
        <div class="d-flex">
          <div>
            <ngx-avatar cornerRadius="5" [round]="false" [name]="inside?.name"></ngx-avatar>
          </div>
          <div class="pl-2 pr-2 pt-1 pb-1">
            <div class="d-flex">
              <div class="name mr-2 font-weight-bold">{{inside?.name}} {{inside?.lastName}}</div>
              <small class="text-muted mr-1" timeago [date]="inside?.createdAt"></small>
            </div>
            <div class="d-flex pt-1">
            <span class="text-muted">
              {{inside?.email}}
            </span>
            </div>
          </div>
        </div>
        <div class="text-right">
          <div>
            <b class="price-main">{{inside?.role}}</b>
          </div>
          <div class=" pt-1">
          <span class="text-muted">
            <span class="pr-1">
                <fa-icon [icon]="faPhoneAlt"></fa-icon>
              </span>
            {{inside?.phone}}
          </span>
          </div>
        </div>
      </li>
    </ul>
  </ng-container>
  <!-- ************ USER ************* -->

  <!-- ************ EMPTY ************* -->
  <div *ngIf="!(data | countSearchData)">
    <app-box-empty></app-box-empty>
  </div>
  <!-- ************ EMPTY ************* -->


</ng-template>
<!-- ***************** FIN TEMPLATE ************** -->
<ng-template #loadingAll let-loading="loading">
  <div *ngIf="loading === true" class="w-100 text-center h-100 loading-wrapper">
    <div class="in">
      <img [width]="'5rem'" src="../../../../../assets/images/loading-svg.svg" alt="">
    </div>
  </div>
</ng-template>
