:host {
  display: block;
  background-color: white;
  position: fixed;
  width: 100%;
  z-index: 1;
  border-bottom: solid 1px var(--border-color-6);
  padding-top: 3.5rem !important;
}
.nav-wrapper {
  padding-left: 4.5rem;
  background: rgb(255, 255, 255);
}

.menu-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.menu-list ul li {
  padding: 0;
  margin: 0;
  cursor: pointer;
  position: relative;
}

.menu-list ul li:first-child,
.menu-list ul li:last-child {
  border-top-color: transparent;
}

.menu-list .icon-wrapper {
  font-size: 25px;
  margin: auto;
  border-radius: var(--border-radius-75);
  width: 90px;
  height: 90px;
}

.menu-list ul li .icon {
  color: var(--text-color-2);
  /*color: white;*/
}

.menu-list ul li:hover .icon,
.menu-list ul li .active .icon {
  color: var(--main-color-1);
  -webkit-transition: all 100ms;
  -moz-transition: all 100ms;
  -o-transition: all 100ms;
  transition: all 100ms;
}

.menu-list ul li:hover .icon-wrapper {
  background-color: #0c2ccc14;
  -webkit-transition: all 100ms;
  -moz-transition: all 100ms;
  -o-transition: all 100ms;
  transition: all 100ms;
}

.menu-list ul li:hover .sub-wrapper,
.menu-list ul li .active {
  margin-top: 0.1rem;
  border-radius: var(--border-radius-75);
  background-color: #0c2ccc33;
  -webkit-transition: all 100ms;
  -moz-transition: all 100ms;
  -o-transition: all 100ms;
  transition: all 100ms;
}

.sub-wrapper {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  display: grid;
}
.menu-title {
  font-size: 14px;
  text-align: center;
  font-weight: 500;
}

@media (max-width: 868px) {
  .menu-title {
    font-size: 12px;
    text-align: center;
    font-weight: 500;
  }
  .menu-list .icon-wrapper {
    margin: auto;
    border-radius: var(--border-radius-75);
    width: 80px;
    height: 80px;
  }
}

@media (max-width: 768px) {
  :host {
    display: none;
  }
}
