.icon-center{
  background: white;
  cursor: pointer;
  top: 0;
  display: flex;
  width: 100%;
  height: 100px;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  /*box-shadow: 0 0 9px rgba(147, 153, 169, 0.53);*/
}
.hover-btn:hover{
    transform: scale(1.1);
    -webkit-transition: all 100ms;
    -moz-transition: all 100ms;
    -o-transition: all 100ms;
    transition: all 100ms;
}
:host{
  cursor: pointer;
}
